<div class="container">
    <div class="row">
		<div class="col-8 col-md-8">
            <div *ngIf="chatName!=undefined">
                    <nb-user [name]="chatName" [title]="hola" size="large" ></nb-user>
            </div>
		</div>

        <div class="col-4 col-md-4">
            <button class="btn btn-primary d-none d-md-block pull-right" (click)="showMsg = true; showRoom = true">
                    <i class="fa fa-search"></i> buscar
            </button>
            <button class="btn btn-primary pull-right d-md-none" (click)="changeView()">
                <i class="fa fa-list"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8" *ngIf="payMsg">
            <nb-card>
                <nb-card-header>Chat de Paga
                    <a class="pull-right" (click)="closewindows(1)">
                      <h3> <i class="fa fa-window-close"></i></h3>     
                    </a>
                </nb-card-header>
                <nb-card-body>
                    <div>
                           <h4>este usuario cobra por mensaje el monto de : 30 tokens</h4>
                    </div>
                    <br>
                <div>
                    <button class="btn btn-primary" (click)="setType()"> continuar </button>
                </div>
                <br>
                <form class="form-horizontal">
                    <div>
                     <h4>tambien puede introducir o solicitar un cupon</h4>   
                    </div>
                        <div class="form-group row">
                            <br>
                          <div class="col-sm-9">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="cupon">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="offset-sm-3 col-sm-9">
                            <button class="btn btn-primary">introducir</button>
                            <button class="btn btn-primary">solicitar</button>
                          </div>
                        </div>
                      </form>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="message-wrap col-12 col-lg-8" *ngIf="showMsg">
            <div class="msg-wrap">
                <div *ngFor="let message of messages" [ngSwitch]="message.senderId" class="">
                    <div *ngSwitchCase="undefined" class="">
                        {{message.message}}
                    </div>
                    <div class="msgtr"  *ngSwitchCase="getuserId()">
                        <div class="owner macro">
                             <h5 class="col-lg-10">
                                 {{message.message}}
                            </h5>
                        </div>
                    </div>
                    <div class="msgtr" *ngSwitchDefault="">
                       <!-- <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small> -->
                       <div class="othermsg macro">
                            <small class="text-success">{{message.username}}</small>
                            <br>
                            <h5 class="col-lg-10">
                             {{message.message}}
                            </h5>
                       </div>
                    </div>
                        
                </div>

            </div>
                <form class="col-12">
                    <div class="input-group">
                        <input type="text" class="form-control" name="messageInput"
                         [(ngModel)]="msg" required 
                         placeholder="mensaje" aria-label="Input group example" 
                         aria-describedby="btnGroupAddon" autocomplete="off">
                        <div class="input-group-prepend">
                                <button class="input-group-text btn btn-primary" (click)="sendMsg()">enviar</button>
                          </div>
                      </div>
                </form>
        </div>
    <div class ="col-12 col-md-4 pull-right" *ngIf="showRoom">
        <ngx-contacts (onChat)="ChatRoom($event)">
        </ngx-contacts>
    </div>
    </div>
</div>