    <nb-card class="col-12 col-md-4" style="padding-bottom:20px;" *ngFor="let advisory of listAdvisories">


        <div class="row" *ngFor="let content of advisory.contentUser" style="padding-top:20px;">
         
         
          <div class="col-4 col-md-4">
            <a href="/pages/advisories/view/{{advisory.id}}">
              <img src="{{content.perfil}}" alt="card image" class="card-img-top pad-t img-circle">
            </a>
          </div>
          <div class="col-8 col-md-8">
            <div class="row" >
              <div class="col-12 pad-ltitulo">
                <h4 class="card-title pad-t">
                  <strong class="item text-elegant">{{advisory.titulo}}</strong>
                </h4>
              </div>
  
            </div>
            <div class="row " *ngFor="let content of advisory.contentUser">
              <div class="col-12 pad-ltitulo text-info pad-t">{{content.nombre}}
                <span class="badge badge-pill badge-secondary">{{content.puntos}}P</span>
                <span class="badge badge-pill badge-info">{{content.precision}}</span>
              </div>
  
            </div>
            
            <div class="row pad-titulo" style="padding-top:15px;">
              <div class="col-12 pad-ltitulo">
                <span *ngIf="advisory.mod1" class="badge badge-pill badge-primary small">virtual</span>&nbsp;&nbsp;
                <span *ngIf="advisory.mod2" class="badge badge-pill badge-danger small">presencial</span>
              </div>
            </div>
  
  
            <div class="row" style="padding-top:15px;">
              <div class="col-12 col-md-8 pad-t pad-ltitulo">
                <i class="fa fa-map-marker fa-1x"></i>
                <span class="text-success">{{advisory.ubicacion}}</span>
  
              </div>
            </div>
           
            <div class="row" style="padding-top: 15px">
              <div class="col-12 pad-ltitulo" *ngIf="advisory.mod2">
                {{advisory.idiomas}}
  
              </div>
            </div>
  
  
  
          </div>
  
  
        </div>
  
        <div class="row" style="padding-top:25px">
          <div class="col-6">
            <small class="text-muted">
              <h5>{{advisory.costo}} $ctk / hr</h5>
            </small>
          </div>
          <div class="col-2">
            <span class="socials">
              <i class="fa fa-file-text-o"></i>
            </span>
          </div>
          <div class="col-2">
            <span class="socials">
              <i class="fa fa-thumbs-up fa-2">45</i>
            </span>
          </div>
          <div class="col-2">
            <span class="socials">
              <i class="fa fa-thumbs-down">74</i>
            </span>
          </div>
        </div>
      </nb-card>
     