<nb-card>
    <nb-card-header>
        <div class="row" *ngIf="contentUser">
            <div class="col-6 col-sm-9 col-md-2">
                <nb-user [menu]="" [name]="contentUser?.username" [picture]="contentUser?.perfil"></nb-user>
            </div>
            <div class="col-3 col-sm-4 col-md-1">
                <h5>
                    <span class="badge badge-primary font-w-light user_data">{{contentUser.puntos}} P</span>
                </h5>
            </div>
            <div class="col-4 col-md-1" *ngFor="let famaUser of contentUser.fama.firsttwo">
                <h5>
                    <span class="badge badge-info font-w-light user_data">{{famaUser.valor}} {{famaUser.symbol}}</span>
                </h5>
            </div>
            <div class="d-none d-sm-block dropdown drop" ngbDropdown>
                <button type="button" class="btn btn-info btn-tn" ngbDropdownToggle>ver mas fama</button>
                <ul class="dropdown-menu scrollable-menu" ngbDropdownMenu>
                    <li class="dropdown-item" *ngFor="let famaUser of contentUser.fama.last">{{famaUser.valor}} {{famaUser.symbol}}</li>
                </ul>
            </div>
        </div>
    </nb-card-header>
</nb-card>
<nb-card>
    <nb-card-header>
        <div class="row" *ngIf="signal">
            <div *ngIf="signal.tipo == true; else otro" class="col-12 col-md-10">
                <h4 class="text-success">COMPRAR</h4>
            </div>
            <ng-template #otro>
                <div class="col-12 col-md-10">
                    <h4 class="text-danger">VENDER</h4>
                </div>
            </ng-template>
            <div class="col-12 col-md-2">
                <span class="text-hint pull-right">{{signal.FechaCreate | amTimeAgo}}</span>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row" *ngIf="signal">
            <div class="col-12 col-md-6">
                <div class="row">
                    <h3 class="btn btn-hero-primary col-12 col-md-12">Analisis fundamental</h3>
                    <div class="col-12 col-md-12">
                        <span class="text-body" [innerHTML]="signal.AnalisisFundamental"></span>
                    </div>
                </div>
                <div class="row">
                    <h3 class="btn btn-hero-primary col-12 col-md-12">Estrategia de Inversion</h3>
                    <div class="col-12 col-md-7" style="float: left;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="4">Puntos de entrada</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Precio *</th>
                                    <th>Capital</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>17100</td>
                                    <td>30%</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>16500</td>
                                    <td>50%</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>16000</td>
                                    <td>45%</td>
                                </tr>
                                <tr>
                                    <th colspan="4">Puntos de salida</th>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>1800</td>
                                    <td>50%</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>18500</td>
                                    <td>50%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-md-5" style="float: right;">
                        <table class="table table-bordered">
                            <thead>
                                <th>* Precios en :</th>
                            </thead>
                            <tbody>
                                <td>USD / BTC</td>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                                <th>Stop Loss :</th>
                            </thead>
                            <tbody>
                                <td>13200</td>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                                <th>Tipo de Salida</th>
                            </thead>
                            <tbody>
                                <td>TAKE PROFIT</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6" *ngIf="signal">
                <h3 class="btn btn-hero-primary col-12 col-dm-12">Analisis tecnico</h3>
                <div class="col-12 col-dm-12">
                    <span class="text-body" [innerHTML]="signal.AnalisisTecnico"></span>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row" *ngIf="signal">
            <div class="col-md-2 col-sm-12 col-12">
                <h5>Compartir : </h5>
            </div>
            <div class="col-md-1 col-sm-2 col-2">
                <button shareButton="facebook" md-raised-button showCount="true" class="fa fa-facebook" title="title" description="description"
                    image="image"></button>
            </div>
            <div class="col-md-1 col-sm-2 col-2">
                <button shareButton="twitter" sbDescription="description" md-raised-button class="fa fa-twitter"></button>
            </div>
            <div class="col-md-4 col-sm-2 col-2">
                <button shareButton="facebook" sbDescription="description" md-raised-button class="fa fa-google"></button>
            </div>
            <div class="col-md-2 col-sm-2 col-4 socials">
                <a class="font-w-light up pull-right" (click)="sendLike()">
                    <i class="fa fa-thumbs-up"></i>{{signal.likes.total}}</a>
            </div>
            <div class="col-md-2 col-sm-2 col-4 socials">
                <a class="font-w-light down pull-right" (click)="sendDislike()">
                    <i class="fa fa-thumbs-down"></i>{{signal.dislikes.total}}</a>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row" *ngIf="signal">
            <div class="col-12 col-md-12">
                <div class="dropdown" ngbDropdown>
                    <button type="button" class="btn btn-hero-info btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed"
                        aria-controls="collapseExample" ngbDropdownToggle *ngIf="count">
                        {{count.count}} Comentarios
                    </button>
                    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                        <ngx-comment [coment]="commentById" (onObject)="sendAnswer($event)"></ngx-comment>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="form-group">
            <textarea class="form-control" #contenido="ngModel" name="contenido" [(ngModel)]="comment.contenido" placeholder="Escribe un Comentario"></textarea>
        </div>
        <button type="submit" class="btn btn-success pull-right btn-sm" (click)="sendComment()">Comentar</button>
    </nb-card-footer>
</nb-card>
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Señales
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Señales
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Tutoriales
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Dropdown
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
        </div>
    </nb-card-header>
</nb-card>