<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-4 col-md-2">
                <span class="fa fa-user"></span>
            </div>
            <div class="col-8 col-md-4">
                <span class="font-w-light">Juan Jose Perez</span>
            </div>
            <div class="col-4 col-md-2">
                <span class="font-w-light">30 P</span>
            </div>
            <div class="col-4 col-md-2">
                <span class="font-w-light">25 Eth</span>
            </div>
            <div class="col-4 col-md-2">
                <span class="font-w-light">80Xrp</span>
            </div>
        </div>
    </nb-card-header>
</nb-card>
<nb-card>
    <nb-card-header>
        <div class="row" *ngIf="signal">
            <h5 class="col-12 col-md-9 text-primary">
                <strong class="item">{{signal.titulo}}</strong>
            </h5>
            <p class="col-12 col-md-3 text-primary">
                <small class="text-muted">Hace 15 minutos</small>
            </p>
        </div>
    </nb-card-header>
    <nb-card-body>
        <!-- Example row of columns -->
        <div class="row" *ngIf="signal">
            <div class="col-12 col-md-6">
                <div class="row">
                    <h3 class="btn btn-hero-info col-12 col-md-12">Analisis fundamental</h3>
                    <p>{{new.AnalisisFundamental}}</p>

                </div>
                <div class="row">
                    <h3 class="btn btn-hero-info col-12 col-md-12">Estrategia de Inversion</h3>
                    <div class="col-12 col-md-7" style="float: left;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="4">Puntos de entrada</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Precio *</th>
                                    <th>Capital</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>17100</td>
                                    <td>30%</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>16500</td>
                                    <td>50%</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>16000</td>
                                    <td>45%</td>
                                </tr>
                                <tr>
                                    <th colspan="4">Puntos de salida</th>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>1800</td>
                                    <td>50%</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>18500</td>
                                    <td>50%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-md-5" style="float: right;">
                        <table class="table table-bordered">
                            <thead>
                                <th>* Precios en :</th>
                            </thead>
                            <tbody>
                                <td>USD / BTC</td>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                                <th>Stop Loss :</th>
                            </thead>
                            <tbody>
                                <td>13200</td>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                                <th>Tipo de Salida</th>
                            </thead>
                            <tbody>
                                <td>TAKE PROFIT</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h3 class="btn btn-hero-info col-12 col-dm-11">Analisis tecnico</h3>
                <p>{{new.AnalisisTecnico}}</p>
                <div class="text-center">
                    <img src="../../../assets/images/esla.png" class="rounded" alt="...">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.</p>
                <div class="text-center">
                    <img src="../../../assets/images/esla.png" class="rounded" alt="...">
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-md-5 col-sm-12 col-12">
                <h4>Compartir : </h4>
            </div>
            <div class="col-md-1 col-sm-2 col-2 socials">
                <a href="#" class="ion ion-social-facebook socials"></a>
            </div>
            <div class="col-md-1 col-sm-2 col-2 socials">
                <a href="#" class="ion ion-social-twitter socials"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-2 socials">
                <a href="#" class="ion ion-social-whatsapp socials"></a>
            </div>
            <div class="col-md-2 col-sm-2 col-3 socials">
                <a href="#" class="fa fa-thumbs-up socials">45</a>
            </div>
            <div class="col-md-1 col-sm-2 col-2 socials">
                <a href="#" class="fa fa-thumbs-down socials">74</a>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-12">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-hero-info btn-block" type="button" ngbDropdownToggle>
                        451 Comentarios
                    </button>
                    <nb-card>
                        <nb-card-body>
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Escribe un Comentario"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success pull-right btn-sm">Publicar</button>
                            </form>
                            <span class="btn-outline-primary btn-sm">Comentarios</span>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                Señales
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item">Icon Button 4</li>
                <li class="dropdown-item">Hero Button</li>
                <li class="dropdown-item">Default</li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                Señales
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item">Icon Button 4</li>
                <li class="dropdown-item">Hero Button</li>
                <li class="dropdown-item">Default</li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                Tutoriales
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item">Icon Button 4</li>
                <li class="dropdown-item">Hero Button</li>
                <li class="dropdown-item">Default</li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                Dropdown
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item">Icon Button 4</li>
                <li class="dropdown-item">Hero Button</li>
                <li class="dropdown-item">Default</li>
            </ul>
        </div>
    </div>
</div>

