@import '../../../@theme/styles/themes';
@include nb-install-component() {
    nb-card {
        transform: translate3d(0, 0, 0);
    }
    .coin {
        color: grey;
        &:hover {
            color: midnightblue;
        }
    }

    .hands{
        font-size: 20px;   
        &:hover{ 
        color: #3b5998
        }
    }
}