<nb-card>
  <nb-card-header>
    <div class="text-body">
      Lista de Noticias
    </div>
  </nb-card-header>
</nb-card>
<nb-card *ngFor="let news of news">
  <nb-card-header>
    <div class="row" *ngFor="let content of news.contentUser">
      <div class="col-5 col-md-2">
        <nb-user [menu]="" [name]="content?.username" [picture]="content?.perfil" ></nb-user>
      </div>
      <div class="col-3 col-md-1">
        <h5>
          <span class="badge badge-primary font-w-light user">{{content.puntos}} P</span>
        </h5>
      </div>
      <div class="col-4 col-md-9">
        <h5>
          <span class="badge badge-info font-w-light user">56 F</span>
        </h5>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12 col-md-10">
        <h5 class="title">
          <a class="text-body" [routerLink]="['/pages/news/view', news.id]" [innerHTML]="news.titulo"></a>
        </h5>
      </div>
      <div class="col-md-2">
        <img src="../../../assets/images/cover1.jpg" class="img-thumbnail" alt="Responsive image">
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer *ngFor="let count of news.count">
    <div class="row">
      <div class="col-12 col-md-8">
        <p class="text-hint">{{news.fecha_create | amTimeAgo}}</p>
      </div>
      <div class="col-6 col-md-2">
        <p class="text-body">{{count.count}} Comentarios</p>
      </div>
      <div class="col-3 col-md-1 hands">
        <span class="font-w-light up pull-right">
          <i class="fa fa-thumbs-up up">{{news.likes.total}}</i>
        </span>
      </div>
      <div class="col-3 col-md-1 hands">
        <span class="font-w-light down pull-right">
          <i class="fa fa-thumbs-down down">{{news.dislikes.total}}</i>
        </span>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
<nb-card>
  <nb-card-body>
    <div class="row block-level-buttons">
      <div class="col-md-12">
        <button type="button" class="btn btn-outline-primary btn-block" (click)="Upload()">Ver mas</button>
      </div>
    </div>
  </nb-card-body>
</nb-card>