@import '../../../@theme/styles/themes';
@include nb-install-component() {
    nb-card {
        transform: translate3d(0, 0, 0);
    }
    .coin {
        color: grey;
        &:hover {
            color: midnightblue;
        }
    }

    .hands{
        font-size: 20px;   
    }
    @media (max-width: 576px) {
        .title { font-size: 0.6em; }
    }
    @media (max-width: 768px) {
        .title { font-size: 0.8em; }
    }
    @media (max-width: 992px) {
        .title {font-size: 1em;}
    }
    @media (max-width: 576px) {
        img {
            width: 5em;
            height: 6em;
        }
    }
}