
  <nb-card size="small">
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Contacts">
        <a class="contact" (click)="chatRoom(c.username,c.id)" *ngFor="let c of contacts">
           <nb-user [picture]="c.perfil" [name]="c.username" [title]="hola" size="large" ></nb-user>
        </a>
      </nb-tab>
      <nb-tab tabTitle="Room">
        <a class= "contact" (click)="chatRoom(r.name)" *ngFor="let r of rooms">
          <nb-user [name]="r.name" [title]="hola" size="large"></nb-user>
        </a>
      </nb-tab>
      <nb-tab tabTitle="Requests">
        <a class= "contact" *ngFor="let r of requests" [ngbPopover]="popContent">
          <nb-user [name]="r.user.username" [title]="getStatus(r.senderId)" size="large"></nb-user>
          <ng-template #popContent>
            <div *ngIf="getStatus(r.senderId)=='solicitado'">
                <h4>solicitud recibida</h4>
                <button class="btn btn-primary btn-tn" (click)="ReqResponse(r.id,true);chatRoom(r.user.username,r.user.id)">aceptar</button>
                <button class="btn btn-danger btn-tn" (click)="ReqResponse(r.id,false)">rechazar</button>
            </div>
            <div *ngIf="getStatus(r.senderId)=='pendiente'">
              <h4>solicitud enviada</h4>
              <button class="btn btn-danger btn-tn" (click)="ReqResponse(r.id,false)">cancelar</button>
            </div>
          </ng-template>
        </a>
      </nb-tab>
    </nb-tabset>
  </nb-card>

