<nb-card [size]="medium">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Contactos">
      <a class="contact" (click)="chatRoom(c.username,c.id)" *ngFor="let c of contacts">
         <nb-user [picture]="c.perfil" [name]="c.username" [title]="hola" size="large" ></nb-user>
      </a>
    </nb-tab>
    <nb-tab tabTitle="Salas">
      <a class= "contact" (click)="chatRoom(r.name)" *ngFor="let r of rooms">
        <nb-user [name]="r.name" [title]="hola" size="large"></nb-user>
      </a>
    </nb-tab>
  </nb-tabset>
</nb-card>
