<nb-card>
    <nb-card-header>
        <div class="row" *ngIf="contentUser">
            <div class="col-12 col-md-2">
                <a [routerLink]="['/user/profile/', contentUser.id]">
                    <nb-user [name]="contentUser?.username" [picture]="contentUser?.perfil"></nb-user>
                </a>
            </div>
            <div class="col-3 col-md-1">
                <h5>
                    <span class="badge badge-primary font-w-light user_data">{{contentUser.puntos}} P</span>
                </h5>
            </div>
            <div class="col-5 col-md-1">
                <h5>
                    <span class="badge badge-info font-w-light user_data">{{contentUser.fiabilidad}} F</span>
                </h5>
            </div>
            <div class="col-3 col-md-1" *ngIf="contentUser.fiabilidad > 50 else elseBlock">
                <i class="fa fa-2x fa-graduation-cap"></i>
            </div>
            <ng-template #elseBlock>
                <i class="fa fa-2x fa-male"></i>
            </ng-template>
            <!-- <ng-template #thenBlock>
                <i class="fa fa-user-graduate"></i>
            </ng-template> -->
        </div>
    </nb-card-header>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row block-level-buttons">
            <div class="col-md-12">
                <button type="button" class="btn btn-outline-primary btn-block" (click)="getSignalById($event)">Mostrar contenido</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        <div class="row" *ngIf="signal">
            <div *ngIf="signal.tipo == true; else otro" class="col-10 col-md-10">
                <h4 class="text-success">COMPRAR</h4>
            </div>
            <ng-template #otro>
                <div class="col-10 col-md-10">
                    <h4 class="text-danger">VENDER</h4>
                </div>
            </ng-template>
            <ngx-complaint Design="col-2 col-md-2" tipCom="señal" [userIdNews]="signal.usuarioId" [newsId]="signal.id" nalugar="señales"></ngx-complaint>
            <div class="col-12 col-md-2">
                <span class="text-hint">{{signal.FechaCreate | amTimeAgo}}</span>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row" *ngIf="signal">
            <div class="col-md-12 col-12">
                <img class="image img-fluid" src="{{signal.perfilLink}}">
            </div>
            <div class="col-12 col-md-6">
                <div class="row">
                    <h3 class="btn btn-hero-primary col-12 col-md-12">Analisis fundamental</h3>
                    <div class="col-12 col-md-12">
                        <span class="text-body" [innerHTML]="signal.AnalisisFundamental"></span>
                    </div>
                </div>
                <div class="row">
                    <h3 class="btn btn-hero-primary col-12 col-md-12">Estrategia de Inversion</h3>
                    <div class="col-12 col-md-7" style="float: left;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="4">Puntos de entrada</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Precio *</th>
                                    <th>Capital</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>17100</td>
                                    <td>30%</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>16500</td>
                                    <td>50%</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>16000</td>
                                    <td>45%</td>
                                </tr>
                                <tr>
                                    <th colspan="4">Puntos de salida</th>
                                </tr>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>1800</td>
                                    <td>50%</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>18500</td>
                                    <td>50%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-md-5" style="float: right;">
                        <table class="table table-bordered">
                            <thead>
                                <th>* Precios en :</th>
                            </thead>
                            <tbody>
                                <td>USD / BTC</td>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                                <th>Stop Loss :</th>
                            </thead>
                            <tbody>
                                <td>13200</td>
                            </tbody>
                        </table>
                        <table class="table table-bordered">
                            <thead>
                                <th>Tipo de Salida</th>
                            </thead>
                            <tbody>
                                <td>TAKE PROFIT</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6" *ngIf="signal">
                <h3 class="btn btn-hero-primary col-12 col-dm-12">Analisis tecnico</h3>
                <div class="col-12 col-dm-12">
                    <span class="text-body" [innerHTML]="signal.AnalisisTecnico"></span>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="row" *ngIf="signal">
            <div class="col-md-1 col-sm-2 col-4 socials">
                <a class="font-w-light up" (click)="sendLike()">
                    <i class="fa fa-thumbs-up"></i>{{signal.likes.total}}</a>
            </div>
            <div class="col-md-4 col-sm-2 col-4 socials">
                <a class="font-w-light down" (click)="sendDislike()">
                    <i class="fa fa-thumbs-down"></i>{{signal.dislikes.total}}</a>
            </div>
        </div>
    </nb-card-footer>
</nb-card>
<ngx-share></ngx-share>
<nb-card *ngIf="signal">
    <nb-card-body>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="dropdown" ngbDropdown>
                    <button type="button" class="btn btn-hero-info btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed"
                        aria-controls="collapseExample" ngbDropdownToggle *ngIf="count">
                        {{count.count}} Comentarios
                    </button>
                    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                        <ngx-comment [coment]="commentById" (onObject)="sendAnswer($event)"></ngx-comment>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="form-group">
            <textarea class="form-control" #contenido="ngModel" name="contenido" [(ngModel)]="comment.contenido" placeholder="Escribe un Comentario"
                minlength="4"></textarea>
        </div>
        <div *ngIf="contenido.invalid && contenido.touched" class="alert alert-danger">
            <div *ngIf="contenido.errors.required">
                El Comentario no puede estar vacio
                <a [routerLink]="['/auth/login']">y para poder comentar tienes que iniciar session</a>
            </div>
            <div *ngIf="contenido.errors.minlength">
                El Comentario debe tener al menos 4 caracteres
                <a [routerLink]="['/auth/login']"> y para poder comentar tienes que iniciar session</a>
            </div>
        </div>
        <button type="submit" [disabled]="submitted || !contenido.valid || contenido.required" [class.btn-pulse]="submitted" class="btn btn-success pull-right btn-sm"
            (click)="sendComment()">Comentar</button>
    </nb-card-footer>
</nb-card>
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Señales
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Señales
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Tutoriales
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Dropdown
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
        </div>
    </nb-card-header>
</nb-card>