.user_data {
  margin-top: 7px;
}

.content_image{
  width: 5%; 
  height: 15%;
}

.scrollable-menu {
  height: auto;
  max-height: 150px;
  overflow-x: hidden;
}

.image {
  width: 100% !important;
  margin-bottom: 10px;
}