.img-circle {
  border-radius: 25px !important;
}

.design_user {
  color:  #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #2ea9ff;
}

.image_pop{
  border: 1px solid #b7bec6;
}
  
.media{
  background-color: #D8DFE7 !important;
  border: 1px solid cornsilk !important;
}
