<nb-card>
    <nb-card-body>
        <div class="row ">
            <div class="col-12">
                <button type="button" class="btn btn-info btn-lg btn-block">Instrucciones - couching</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center" style="padding-top:20px;">
                <h4>
                    <strong>COUCHING VIRTUAL MINERIA</strong>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 " style="padding-top:15px;padding-left:35px;">
                <h6>
                    <strong>como contratar el couching </strong>
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="padding-left:35px;padding-right:8px;">
                <p>Paso 1: Proceda al pago de al menos 1 hora del curso</p>
                <p>Paso 2: Se mostraran los datos de contacto Coucher</p>
                <p>Paso 3: Pongase en contacto y coordine su couching</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 " style="padding-top:15px;padding-left:35px;">
                <h6>
                    <strong>Terminos del Couchin de Samosan:</strong>
                </h6>
            </div>
        </div>
        <div class="row" *ngIf="advisory">
            <div class="col-12" style="padding-left:35px;padding-right:35px;">
                <ul *ngFor="let termino of advisory.terminos">
                    <li>{{termino}}</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <button class="btn btn-danger btn-sm"> previous</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>