<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-12 col-md-6">
        <ngb-carousel>
          <ng-template ngbSlide *ngFor="let news of news">
            <img src="{{news.perfilLink}}" alt="Random first slide"  width="550" height="600">
            <div class="carousel-caption">
              <h6 class="userStyle" [innerHTML]="news.titulo"></h6>
              <div *ngFor="let dataUser of news.contentUser">
                  <p class="userStyle">{{dataUser.username}}</p>
                  <p class="badge badge-success font-w-light user">{{dataUser.puntos}} Puntos</p>
                  <p class="badge badge-success font-w-light user">{{dataUser.fiabilidad}} Fiabilidad</p>
              </div>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col-12 col-md-6">
        <div class="list-group">
          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <a class="flex-column align-items-start">
                <h6 class="mb-4 signal_user">titulo</h6>
              </a>
              <small class="text-muted">fecha</small>
            </div>
            <small class="text-muted">Juan Jose Perez Perez</small>
            <p class="badge badge-primary font-w-light user">97 P</p>
            <p class="badge badge-success font-w-light user">51 F</p>
          </div>
        </div>
      </div>
    </div>
  </nb-card-header>
</nb-card>