<div class="row">
    <div class="col align-self-start">
      <label>Imagen pricipal</label>
    </div>
  </div>
  <div class="row">
    <div class="col align-self-center">
      <input type="button" name="file-5" id="file-5" class="inputfile inputfile-5" data-multiple-caption="{count} archivos seleccionados"
        (click)="openCropper()" multiple />
      <label for="file-5">
        <img [src]="url" class="img-fluid" id="image">
        <div class="text-center">
          <a class="iborrainputfile btn btn-success">Seleccionar archivo</a>
        </div>
      </label>
    </div>
  </div>