<nb-card>
        <nb-card-header>
            <div class="row">
                <div class="col-12 col-md-2">
                    <h5 class="text-body compartir">Compartir : </h5>
                </div>
                <div class="col-12 col-md-3">
                    <div class="text-center center-block">
                        <a href="#">
                            <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
                        </a>
                        <a href="#">
                            <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
                        </a>
                        <a href="#">
                            <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
                        </a>
                        <a href="#">
                            <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nb-card-header>
    </nb-card>