<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-12 col-md-2">
                <h5 class="text-body compartir">Compartir : </h5>
            </div>
          <div class="col-md-8">
          <ul class="social-network social-circle">
              <li><a md-raised-button shareButton="facebook" [sbTitle]="titleFacebook" [sbDescription]="descripFacebook" [sbImage]="imageFacebook" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <li><a md-raised-button shareButton="twitter" [sbTitle]="titleTwitter" [sbTags]="tagTwitter" class="icoTwitter"><i class="fa fa-twitter"></i></a></li>
              <li><a md-raised-button shareButton="linkedin" [sbDescription]="descripLinkedin" [sbTitle]="titleLinkedin" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              <li><a md-raised-button shareButton="whatsapp" [sbTitle]="titleWhatsapp" [sbDescription]="descripWhatsapp" class="icoWhatsapp"><i class="fa fa-whatsapp"></i></a></li>
          </ul>				
      </div>
        </div>
    </nb-card-header>
</nb-card>