

    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-info btn-lg btn-block">disputa samosan</button>
      </div>
  
    </div>
  
  


<nb-card>
    <nb-card-body>
  
      <div class="row ">
               
        <div class="col-12 pad-text" style="padding-left:30px;padding-top:15px;"> <h6>Favor elijar por cual de los pagos aneriores desea inicar
                una disputa:</h6></div>  
      </div>

    </nb-card-body>
  
  
  </nb-card>

  <nb-card>
      <nb-card-body>
    
  

      <div class="row" style="padding-left:15px;">
          <div class="col-12 pad-text"> <h6><strong>Pagos Anteriores</strong></h6></div>
          
          <ul *ngIf="advisory">

            <ul *ngFor="let termino of advisory.pagos_anteriores">
              <li>{{termino}}</li>
          </ul>
          </ul>
        </div>
        <div class="row " style="padding-left:10px;">
          <div class="col-2">   </div>         
           <div class="col-3"> <h5><strong>id</strong></h5></div>
           <div class="col-4" style="padding-left:0px"><h5><strong>Detalle</strong></h5></div>
           <div class="col-3" style="padding-left:0px"><h5><strong>valor</strong></h5></div>
  
        </div>
        <div class="row ">
            <div class="col-2" style="padding-left:50px">    <input type="checkbox" autocomplete="off"></div>
            <div class="col-3">132256</div>
            <div class="col-4" style="padding-left:0px">Pago por contacto previo con el trader</div>
            <div class="col-2" style="padding-left:0px">130 $ctk</div>
   
         </div>
         <div class="row " style="padding-top:10px">
                <div class="col-2" style="padding-left:50px">    <input type="checkbox" autocomplete="off"></div>
                <div class="col-3">132256</div>
                <div class="col-4" style="padding-left:0px">Clase introductoria</div>
                <div class="col-2" style="padding-left:0px">12 $ctk</div>
       
             </div>
</nb-card-body>  
     </nb-card>
  