<nb-card-body>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="input-group">
          <input type="text" placeholder="Titulo de la noticia" [(ngModel)]="newsPublish.titulo " class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="dropdown" ngbDropdown>
          <button class="btn btn-primary" type="button" ngbDropdownToggle>
            {{ selectedView.title }}
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item" *ngFor="let v of buttonsViews" (click)="this.selectedView = v">{{ v.title }}</li>
          </ul>
        </div>
      </div>
    </div>
    <ngx-tiny-mce 
      [value]="newsPublish"
      [height]="150"
      (onEditorKeyup)="keyupHandlerFunction($event)"></ngx-tiny-mce>
    <ngx-tiny-mce></ngx-tiny-mce>
    <ngx-tiny-mce></ngx-tiny-mce>
  </div>
</nb-card-body>
<nb-card-footer>
  <div class="row justify-content-between">
    <div class="col-6">
      <button class="btn btn-hero-secondary btn-demo"> Cancelar </button>
      <button class="btn btn-primary"> Vista Previa </button>
    </div>
    <div class="col-2">
      <button class="btn btn-success" (click)="onSave()"> Publicar </button>
    </div>
  </div>
</nb-card-footer>
