<span class="chat-img pull-left" *ngIf="dataUser">
    <!-- <img *ngIf="dataUserPerfil" src="{{dataUserPerfil}}" alt="" class="img-circle" /> -->
    <div *ngIf="dataUserPerfil" class="img-circle design_user">
        <ng-container> {{ getInitials(dataUserSymbol) }} </ng-container>
    </div>
</span>
<div class="chat-body clearfix">
    <div class="header">
        <strong class="primary-font">{{dataUserName}}</strong>
        <small class="badge badge-info font-w-light">
            <span class="glyphicon glyphicon-time"></span>{{dataUserPuntos}} P</small>
        <small class="badge badge-info font-w-light" *ngFor="let famaUser of dataUserFama">
            <span class="glyphicon glyphicon-time"></span>{{famaUser.valor}} {{famaUser.symbol}}</small>
    </div>
</div>
<ng-template #popContentComment>
    <div class="pop_style">
        <div class="media">
            <!-- <img *ngIf="ImageUser" class="mr-3 image_pop" src="comment.user.perfil" width="110" height="120"> -->
            <div class="user-picture background" [style.background-color]="color">
                <ng-container>
                    <img class="image_pop" src="../../../../assets/images/image.png" alt="">
                </ng-container>
            </div>
            <div class="media-body">
                <h5 class="mt-0 text-center">monbre</h5>
                <div class="text-center">
                    <h6>
                        <span class="badge badge-primary font-w-light">123 P</span>
                        <span class="badge badge-info font-w-light">312 BTN</span>
                    </h6>
                </div>
                <div [(ngModel)]="dividedButtonGroupOne" ngbRadioGroup class="btn-group btn-divided-group btn-outline-divided-group btn-group-full-width col-md-12 bton-seguir">
                    <label ngbButtonLabel class="btn btn-outline-primary btn-tn">
                        <input ngbButton type="radio" value="left"> Mensaje
                    </label>
                    <label ngbButtonLabel class="btn btn-outline-success btn-tn">
                        <input ngbButton type="radio" value="middle"> Seguir
                    </label>
                </div>
            </div>
        </div>
    </div>
</ng-template>