<nb-card>
    <nb-card-body>
        <div class="row" *ngFor="let market of market">
            <div class="col-12 col-md-7">
                <div class="row">
                    <div class="col-4 col-md-5">
                        <h4 class="text-primary pull-right">{{market.nombre}}</h4>
                    </div>
                    <div class="col-8 col-md-7">
                        <img src="../../../assets/images/platinum_tcm1305-467308.png" alt="" class="img-thumbnail">
                    </div>
                </div>
                <hr>
                <div class="col-12 col-md-12">
                    <a>{{market.descripcion}}</a>
                </div>
                <hr class="d-block d-sm-none">
            </div>
            <div class="col-12 col-md-5">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="row">Monedas</th>
                            <th scope="row">Capitaliz</th>
                            <th scope="row">% Anual / Calif</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">SiaCoin</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Made</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">FileCoin</th>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">Storj</th>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card>