<nb-layout windowMode>
    <nb-layout-header>
      <ngx-header [position]="'right'"></ngx-header>
    </nb-layout-header>
    <nb-layout-header>
        <ngx-headertwo [position]="'right'"></ngx-headertwo>
    </nb-layout-header>
    <nb-sidebar class="menu-sidebar" tag="menu-sidebar"
     responsive
     [right]="true">
      <nb-sidebar-header class="d-block d-sm-none" *ngIf="user">
        <nb-user [menu]="" [name]="user?.username" [picture]="user?.perfil" ></nb-user>
        <nb-action>
          <span class="badge badge-secondary">2 $CA</span>
        </nb-action>
        <nb-action>
          <span class="badge badge-secondary">17 F</span>
        </nb-action>
        <nb-action>
          <span class="badge badge-secondary">25 P</span>
        </nb-action>
        <hr>
        <div>
          <nb-action>
            <a class="btn btn-primary btn-tn" (click)="profile()">Profile</a>
          </nb-action>
          <nb-action>
            <a class="btn btn-primary btn-tn" (click)="logout()">Log out</a>
          </nb-action>
        </div>
      </nb-sidebar-header>

      <nb-sidebar-header *ngIf="!user" class="d-block d-sm-none">
        <nb-action>
          <a class="btn btn-primary btn-tn" (click)="signup()">Sign Up</a>
        </nb-action>
        <nb-action>
          <a class="btn btn-primary btn-tn" (click)="signin()" >Log In</a>
        </nb-action>
      </nb-sidebar-header>

        <!-- <ng-content select="nb-menu"></ng-content> -->
      <nb-menu [items]="menu" [autoCollapse]="true"></nb-menu>
    </nb-sidebar>

    <nb-layout-column class="main-content">
      <ng-content select="router-outlet"></ng-content>
    </nb-layout-column>

    <nb-layout-footer fixed>
      <ngx-footer></ngx-footer>
    </nb-layout-footer>
  </nb-layout>
