<nb-card>
  <nb-card-body style="padding-top:0px;padding-left:0px;padding-right:0px;">

    <div class="row ">
     <div class="col-12">
      <button type="button" class="btn btn-info btn-lg btn-block">Pagar samosan</button>
     </div>        
      <div class="col-12 pad-text"> <h5>Pagar :</h5></div>  
    </div>
    <div class="row" style="padding-left:15px;">
        <div class="col-6">
          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"/>

        </div>
        <div class="col-6">

          <div class="row">
              <div class="col-6">
                <input type="text" class="form-control he-input" aria-label="Small"/>
              </div>
              <div class="col-6" style="padding-left:2px;">
                  <button type="button" class="btn btn-info btn-sm">pagar</button>
              </div>
              
          </div>
          <div class="row">
              <div class="col-12">
                  <h6> <strong>Total:</strong>8 $ctk </h6>
              </div>
          </div>
          
        </div>
        
               
    </div>
    <div class="row">
        <div class="col-12 pad-text"> <h5>Pagos Anteriores</h5></div>  
      </div>
      <div class="row pad-text">
         <div class="col-4"> <h5><strong>id</strong></h5></div>
         <div class="col-4"><h5><strong>Detalle</strong></h5></div>
         <div class="col-4"><h5><strong>valor</strong></h5></div>

      </div>
      <div class="row pad-text">
          <div class="col-4"> <h6>1244</h6></div>
          <div class="col-4"><h6>Pago por contacto previo con el trader</h6></div>
          <div class="col-4"><h6>13 $ctk</h6></div>
 
       </div>

  </nb-card-body>


</nb-card>

