// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '../components/layout/layout.component';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();
};

.caro1{
  .carousel-control-prev {
    top: -130px;
  }
  .carousel-control-next {
    top: -130px;
  }
}
.caro2{
  .carousel-control-prev {
    top: -25px;
  }
  .carousel-control-next {
    top: -25px;
  }
}
.caro3{
  .carousel-control-prev {
    top: -70px;
  }
  .carousel-control-next {
    top: -70px;
  }
}
.caro4{
  .carousel-control-prev {
    top: 65px;
  }
  .carousel-control-next {
    top: 65px;
  }
}
.carousel-control-next-icon{
  background-color: black;
}
.carousel-control-next {
  width: 5%;
}
.carousel-control-prev-icon{
  background-color: black;
}
.carousel-control-prev {
  width: 5%;
}

.carousel-indicators .active {
  background-color: transparent;
}

.nb-theme-default nb-layout .layout nb-layout-header {
  font-family: Exo;
  line-height: 1.74;
}

.nb-theme-default .dropdown.ghost-dropdown .btn-primary:hover, .nb-theme-default .dropup.ghost-dropdown .btn-primary:hover {
  border: 0px ;
  color: gray !important;
}

.nb-theme-default .dropdown.ghost-dropdown .btn-primary + .dropdown-menu, .nb-theme-default .dropup.ghost-dropdown .btn-primary + .dropdown-menu {
  border: 1px solid #ebeef2;
}