<div class="header-container left">
        <toaster-container [toasterconfig]="config"></toaster-container>
        <div class="logo-containter">
            <a (click)="toggleSidebar()" href="#" class="navigation d-block d-sm-block d-md-block d-lg-none">
                <i class="nb-menu"></i>
            </a>
            <div class="logo d-none d-sm-block" (click)="goToHome()">Criptoanalisis.org</div>
            <nb-action icon="nb-notifications" class="logo col-md-6 d-block d-sm-block d-md-none notification"></nb-action>
            <nb-action class="logo col-md-6 d-block d-sm-block d-md-none">
                <nb-search type="modal-half" tag="modal-half"></nb-search>
            </nb-action>
        </div>
        <nb-action class="logo d-block d-sm-block d-md-none float-right">
            <img src="../../../../assets/images/icono-logos-color.png" alt="">
        </nb-action>
        <nb-actions size="medium">
            <nb-action class="control-item">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary">
                            Search
                        </button>
                    </span>
                </div>
            </nb-action>
        </nb-actions>
    </div>

<nb-actions size="medium" class="header-container right" *ngIf="user">
    <nb-action class="d-sm-none d-md-block">
        <nb-user [menu]="userMenu" [name]="user?.username" [picture]="user?.perfil" (menuClick)="logout()"></nb-user>
    </nb-action>
    <nb-action class="control-item" [ngbPopover]="notification" placement="bottom">
    <!-- <span class="counter">10</span> -->
    <h2>
        <i class ="nb-notifications"></i>
    </h2>
    <ng-template #notification>
        <div *ngFor="let not of notifications">
            <nb-card>
                <nb-user [picture]="not.picture" [name]="not.username" [title]="not.tipo">
                </nb-user>  
            </nb-card>
 
        </div>
    </ng-template>
    </nb-action>
    <nb-action>
        <h2>
            <i class ="nb-email"></i>
        </h2>
    </nb-action>
    <nb-action>
        <span class="badge badge-default">2 $CA</span>
    </nb-action>
    <nb-action>
        <span class="badge badge-default">{{user.fama}} F</span>
    </nb-action>
    <nb-action>
        <span class="badge badge-default">{{user.precision}} P</span>
    </nb-action>
</nb-actions>
<nb-actions size="medium" class="header-container right btn-group" *ngIf="!user">
  <nb-action>
    <div class="btn-group d-none d-sm-block" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="signup()">
        <i class="fa fa-user-plus"></i> Sign Up</button>
      <button type="button" class="btn btn-secondary" (click)="signin()">
        <i class="fa fa-sign-in"></i> Log In</button>
    </div>
  </nb-action>
</nb-actions>

