#chat-form {
	position: fixed;
    bottom: 80px;
    width: 70%;
}
#chat { list-style-type: none; }

#chat li { 
	padding: .5rem;
	background-color: #EEE;
}

#chat li:nth-child(odd) { background-color: #DDD; }