<nb-card>
        
        <nb-card-body>
            <!-- Example row of columns -->
            <div class="row">
                
                <div class="col-12">
                    <h3 class="btn btn-hero-info col-12 col-dm-11">Asesoria Personal - Couching</h3>
    
                 </div>
            </div>
            <div class="row">
                    <div class="card">
                            <img class="card-img" src="https://es.tradingview.com/i/jNGFZIAD/" alt="Card image">
                           <div class="row">
                                <div class="card-img-overlay caption">
                                        <h4 class="card-title"><strong>Couching Virtual Mineria</strong> </h4>                              
                                </div>
                                 <div class="card-img-overlay caption2 pad-top2">
                                            <h6><i class="fa fa-map-marker fa-1x"></i>
                                                <span class="text-success">Cochabamba-Bolivia</span></h6>                              
                                 </div>
                           </div>
                           
                            
                           
                           </div> 
                            
                
            </div>
            
            <div class="row pad-top bor-dot-t bor-dot-b mar-top">
                <div class="col-8">
                  <small class="text-muted"><h5>8 $ctk / hr</h5></small>
                </div>
                <div class="col-2 ">
                  <span class="socials">
                    <i class="fa fa-thumbs-up fa-1x">45</i>
                  </span>
                </div>
                <div class="col-2">
                  <span class="socials">
                    <i class="fa fa-thumbs-down">74</i>
                  </span>
                </div>
              </div>
              <div class="row pad-top">
                    <div class="col-8">
                        <h5>Temas de Asesoria</h5>
                    </div>
                    <div class="col-12 pad-le">
                    <ul>
                        <li>compra de equipos adecuados</li>
                        <li>armado de equipos segun mi guia</li>
                        <li>configuracion de software via skype</li>
                        <li>mantenimiento diario</li>
                    </ul>
                    </div>
              </div>
              <div class="row bor-dot-b">
                <div class="col-12">
                    <h5>Ventajas Adicionales</h5>
                </div>
                    <div class="pad-le">
                        Tengo experiencia en Forex por 2 años
                        tengo un alto nivel de didactica, doy
                        clases a grupos
                    </div>
                
              </div>
              <div class="row bor-dot-b">
                  <div class="col-12">
                      <h5>Horarios</h5> <br>
                      Lunes a Viernes: 18:00 - 22:00
                  </div> 
              </div>
              <div class="row bor-dot-b">
                    <div class="col-12">
                            <h5>Acerca del Couch</h5>
                            <div class="row">
                                <div class="col-4">
                                        <img class="card-img" src="http://oi58.tinypic.com/24bq7es.jpg" alt="Card image">

                                </div>
                                <div class="col-8">
                                    <p>tiene verificacion de identidad</p>
                                    <p>5 es su nivel de ETHEREUM</p>
                                    <p>3 es su precision para PREDICCIONES</p>
                                </div>
                            </div>
                        </div>
              </div>
  
            <div class="row">

                    <div class="col-12 pad-top">
                        <a [routerLink]="['/pages/advisories/instruccion']">
                        <button type="button" class="btn  btn-dark">Instrucciones para contratar</button>
                          </a>
            
                         </div>
                         <div class="col-12 pad-top">
                                <button type="button" class="btn btn-sm btn-warning">contactar a samosan(consultas solo por couching)</button>
                                
                
                             </div>
                             <div class="col-12 pad-top">
                                    <button type="button" class="btn btn-sm btn-danger">iniciar disputa  </button>
                                    <a [routerLink]="['/pages/advisories/pago']">
                                    <button type="button" class="btn btn-sm btn-warning">pagar </button>
                                    </a>
                             </div>
                             
            </div>
            <div class="row">
                <div class="col-12">
                        <div class="dropdown">
                                <button class="btn btn-primary  btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               mas sobre mineria
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Action</a>
                                  <a class="dropdown-item" href="#">Another action</a>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                              </div>
                              <div class="dropdown">
                                    <button class="btn btn-primary  btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   mas sobre samosan
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">Action</a>
                                      <a class="dropdown-item" href="#">Another action</a>
                                      <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                  </div>
                </div>

            </div>
                
            
        </nb-card-body>
    </nb-card>
    