<nb-card>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-info btn-lg btn-block">Asesoria Personal Couching</button>
        </div>

    </div>
</nb-card>

<nb-card *ngIf="advisory">
  
    <img class=" col-12  card-img-top "  *ngIf="advisory" src="https://es.tradingview.com/i/jNGFZIAD/" alt="Card image">
    <div class="card-block" style="background-color:skyblue">
        <h4 class="card-title" style="padding:5px 5px 5px 15px">
            <strong>{{advisory.titulo}}</strong>
        </h4>
        <p class="card-text" style="padding-top:0px;padding-left:15px;padding-bottom:5px;">
            <i class="fa fa-map-marker fa-1x"></i>
            <span class="text-white">{{advisory.ubicacion}}</span>
            <span *ngIf="advisory.mod1" class="badge badge-pill badge-primary small">virtual</span>&nbsp;&nbsp;
              <span *ngIf="advisory.mod2" class="badge badge-pill badge-danger small">presencial</span>
        </p>

        
            
              
            
          
    </div>


</nb-card>
<nb-card *ngIf="advisory">

    <div class="row pad-top  mar-top" style="padding-left:10px;padding-right:20px">
        <div class="col-6">
            <small class="text-muted">
                <h5>8 $ctk / hr</h5>
            </small>
        </div>
        <div class="col-2">
            <span class="socials">
                <i class="fa fa-file-text-o">13</i>
            </span>
        </div>
        <div class="col-2 ">
            <a class="font-w-light up" (click)="sendLike()">
                <span class="socials">
                    <i class="fa fa-thumbs-up fa-1x">{{advisory.likes.total}}</i>
                </span>
            </a>
        </div>
        <div class="col-2">
            <a class="font-w-light up" (click)="sendDislike()">
                <span class="socials">
                    <i class="fa fa-thumbs-down">{{advisory.dislikes.total}}</i>
                </span>
            </a>
        </div>
    </div>
</nb-card>

<nb-card *ngIf="advisory">
    <div class="row pad-top" style="padding-left:10px;">
        <div class="col-8">
            <h5>Temas de Asesoria</h5>
        </div>
        <div class="col-12 pad-le" *ngIf="advisory" [innerHTML]="advisory.contenido_asesoria">
            
        </div>
    </div>
    
    <div class="row  pad-top" style="padding-left:10px;padding-right:20px">
        <div class="col-12">
            <h5>Horarios</h5>
        </div>
        <div class="col-12">
            Lunes a Viernes: 18:00 - 22:00
        </div>
    </div>

</nb-card>
<nb-card>
    <div class="row  pad-top" style="padding-left:10px;padding-right:20px">
        <div class="col-12" *ngIf="contentuser">
            <h5>Acerca del Couch</h5>
            <div class="row">
                <div class="col-2">

                    <img class="card-img" src="{{contentuser.perfil}}" alt="Card image" />
                </div>
                <div class="col-8">
                    <p class="text-success">{{contentuser.nombre}}</p>
                    <p>tiene verificacion de identidad</p>
                    <p>5 es su nivel de ETHEREUM</p>
                    <p>{{contentuser.precision}} es su precision para PREDICCIONES</p>
                </div>
            </div>
        </div>
    </div>
</nb-card>
<nb-card *ngIf="advisory" >

                               
<div class="dropdown" ngbDropdown>
    <button type="button" class="btn btn-hero-info btn-block" (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2"
        aria-controls="collapseExample" ngbDropdownToggle >
        Terminos del Coach
    </button>
    <div id="collapseExample" [ngbCollapse]="!isCollapsed2" >
        

        <div class="card" [innerHTML]="advisory.terminos_coach" style="padding-left: 20px;padding-top: 15px">
                
                
            </div>

    </div>
    
</div>                      
                            
    </nb-card>
    
    
    <nb-card>
        <div class="dropdown" ngbDropdown>
            <button type="button" class="btn btn-hero-info btn-block " (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2"
                aria-controls="collapseExample" ngbDropdownToggle>
                <i class="fas fa-calendar-alt"> Seleccione HORARIO</i>
            </button>
            <div id="collapseExample" [ngbCollapse]="!isCollapsed2">
        
        
                <div class="card" style="padding-left: 20px;padding-top: 15px">
                    <ngx-horario [onGetHorario]="slots2"  ></ngx-horario>            
                </div>
        
            </div>
        
        </div>
        
    </nb-card>
    
<nb-card>
    <div class="row" style="padding-bottom:15px;margin: 15px 0px !important">

        <div class="col-12 col-md-6 pad-top text-center">
            <a class="btn  btn-dark btn-block  btn-sm" [routerLink]="['/pages/advisories/view',id,'instruccion']">
                Instrucciones para contratar
            </a>

        </div>
        <div class="col-12 col-md-6  pad-top text-center">
            <button type="button" class="btn btn-sm btn-warning btn-block">contactar a samosan</button>
        </div>
        <div class="col-12 col-md-6 pad-top text-center">

            <a [routerLink]="['/pages/advisories/view',id,'disputa']">
                <button type="button" class="btn  btn-danger btn-sm btn-block">iniciar disputa </button>
            </a>
        </div>
        <div class="col-12 col-md-6 pad-top text-center">

            <a [routerLink]="['/pages/advisories/view',id,'pago']">

                <button type="button" class="btn  btn-success btn-sm btn-block">pagar </button>
            </a>
        </div>

    </div>
</nb-card>

<nb-card>
    <div class="row pad-top" style="padding-bottom:15px;margin: 15px 0px !important">
        <div class="col-12 col-md-6">

            <div class="dropdown  ghost-dropdown" ngbDropdown style="padding-top:5px">
                <button class="btn" type="button" ngbDropdownToggle>
                    mas sobre samosan
                </button>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li class="dropdown-item">Icon Button 4</li>
                    <li class="dropdown-item">Hero Button</li>
                    <li class="dropdown-item">Default</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="dropdown ghost-dropdown" ngbDropdown style="padding-top:5px">
                <button class="btn " type="button" ngbDropdownToggle>
                    mas sobre solidity
                </button>
                <ul class="dropdown-menu" ngbDropdownMenu>
                    <li class="dropdown-item">Icon Button 4</li>
                    <li class="dropdown-item">Hero Button</li>
                    <li class="dropdown-item">Default</li>
                </ul>
            </div>

        </div>
        <div class="row pad-top  mar-top text-center" style="padding-left:10px;padding-right:20px">
            <div class="col-4">
                <small class="text-muted">
                    <h6>compartir</h6>
                </small>
            </div>
            <div class="col-1 ">
                <span class="socials">
                    <i class="fa fa-facebook-f fa-1x"></i>
                </span>
            </div>
            <div class="col-1">
                <span class="socials">
                    <i class="fa fa-twitter"></i>
                </span>
            </div>
            <div class="col-1">
                <span class="socials">
                    <i class="fa fa-tumblr"></i>
                </span>
            </div>
            <div class="col-1">
                <button class="btn btn-info btn-tn">otros</button>
            </div>
        </div>


    </div>



</nb-card>



<nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col-12">
                <div class="dropdown" ngbDropdown>
                    <button type="button" class="btn btn-hero-info btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseExample" ngbDropdownToggle *ngIf="cont">
                        {{cont.count}} Comentarios
                    </button>
                    <div id="collapseExample" [ngbCollapse]="!isCollapsed" *ngIf="coment">
                        

                        <div class="card" *ngFor="let co of coment;let i = index">
                                <div class="row" class="card-body">
                                    <div *ngIf="coment">
                                        
                                        <h5 class="text-heading">Comentario</h5>
                                        <div class="col-12 col-md-12">
                                            <span class="text-body">{{co.contenido}}</span>
                                            <div id="respuesta" style="display:none">{{co.id}}</div>
                                        </div>
                                        <div class="card-body" *ngFor="let ans of co.res">
                                            <span>Respuesta</span>
                                            <div *ngIf="ans">
                                                <span class="text-body">{{ans.contenido}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="input-group input-group-sm mb-3">
                                        <div class="input-group-prepend">
                                            
                                            <button class="input-group-text btn btn-primary btn-tn" id="inputGroup-sizing-sm" (click)="sendAnswer($event)">Responder</button>
                                        
                                            </div>
                                        
                            
                                        <input type="text" id="{{co.id}}" name="{{i}}" class="form-control" placeholder="Escribe una respuesta"  aria-label="Small"  aria-describedby="inputGroup-sizing-sm">
                                    
                                    </div>
                                </div>
                            </div>
    
                    </div>
                    <nb-card>
                        <nb-card-body>
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" id="comments" placeholder="Escribe un Comentario" [(ngModel)]="comment2" [ngModelOptions]="{standalone: true}"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success pull-right btn-sm" (click)="sendComent2()">Publicar</button>
                            </form>
                            <span class="btn-outline-primary btn-sm">Comentarios</span>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>