<nb-card>
    <nb-card-body>
        <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1" [speed]="200" [showSpinner]="false" [direction]="'rightToLeftIncreased'"
            [color]="'red'" [trickleSpeed]="250" [thick]="false" [ease]="'linear'"></ng-progress>
        <ngb-tabset [activeId]="select" (tabChange)="Select($event)">
            <ngb-tab title="News" [id]="1">
                <ng-template ngbTabContent>
                    <ngx-publish-news [idNew]="idNew"></ngx-publish-news>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Signal" [id]="2">
                <ng-template ngbTabContent>
                    <ngx-publish-signal></ngx-publish-signal>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Coin" [id]="3">
                <ng-template ngbTabContent>
                    <ngx-publish-coin></ngx-publish-coin>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Advisory" [id]="4">
                <ng-template ngbTabContent>
                    <ngx-publish-advisories></ngx-publish-advisories>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </nb-card-body>
</nb-card>