<nb-card>
    <nb-card-body>
        <ngb-tabset>
            <ngb-tab title="News">
                <ng-template ngbTabContent>
                    <ngx-publish-news [idNew]="idNew"></ngx-publish-news>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Signal">
                <ng-template ngbTabContent>
                    <ngx-publish-signal></ngx-publish-signal>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Coin">
                <ng-template ngbTabContent>
                    <ngx-publish-coin></ngx-publish-coin>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </nb-card-body>
</nb-card>