<nb-card>
  <div class="container">
    <div class="card">
      <div class="jumbotron">

        <h1>
          QUIENES SOMOS?
        </h1>

      </div>
      <div class="card-body">
        <h2>Mision</h2>
        <p> En criptoanalisis, nuestra mision es construir una plataforma donde usuarios con pocos conocimientos en el mundo
          de las criptomonedas, puedan consumir informacion y sugerencias de inversion con respaldo certificado por la blockchain
        </p>

        <h2>Vision</h2>
        <p>
          Convertirnos en una plataforma usada a nivel mundial para certificar personas o instituciones que quieran dar servicios de
          analisis de proyectos, para inversiones en criptomonedas.
        </p>

        <h2>Nuestra Historia Breve</h2>
        <p>
          Criptoanalisis.org es un proyecto de entusiastas y personas totalmente convencidas del potencial de la tecnologia blockchain
        </p>
        <ul>
          <li>Iniciamos en 2013, estudiando las bases de la tecnologia blockchain y haciendo trading empirico</li>
          <li>En 2014 iniciamos nuestros primeros cursos de trading en base a analisis tecnico</li>
          <li>En 2016 creamos un sistema para analisis de noticias y evaluacion de proyectos, en base a conocimientos de economia,
            gestion de empresas privadas, marketing
          </li>
          <li>En 2017 iniciamos con cursos a nivel Bolivia y Peru sobre tal tematica</li>
          <li>En 2018 nace la idea de una plataforma de red social de traders, que certifique las habilidades en base a un software
            registrado en la blockchain
          </li>
        </ul>
        <h2>Nuestro Equipo</h2>
        <div class="row">
          <div class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="card-img-top" src="https://media.licdn.com/dms/image/C4E03AQFZpOSDWZZh4w/profile-displayphoto-shrink_200_200/0?e=1534982400&v=beta&t=O9WlFOpilCDIfYNMKcVCpL-2TbajrT-Ly6-mTv5BMiE"
              alt="Huascar Miranda Martinez">
            <div class="card-body">
              <h5 class="card-title">CEO - Huascar Miranda Martinez</h5>
              <p class="card-text">Gerente General de Criptoanalisis.org, Ingeniero Industrial con conocimientos de gestion, mercadeo y desarrollo
                de sistemas web y Blockchain</p>
              <a href="https://www.linkedin.com/in/huascarmiranda/" target="blank" class="btn btn-primary">Ver Linkedin</a>
            </div>
          </div>

          <div class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="card-img-top" src="https://media.licdn.com/dms/image/C4D03AQEhPdN767jspg/profile-displayphoto-shrink_800_800/0?e=1534982400&v=beta&t=T1zJv0h9FqsQFvir7clXF5fYJKkICLfaF3_StlfSQ68"
              alt="Oscar Serrano Tonconi ">
            <div class="card-body">
              <h5 class="card-title">Analista Bursatil - Oscar Serrano Tonconi</h5>
              <p class="card-text">Especialista en Analisis Bursatil, Ingeniero comercial con conocimientos en analisis tecnico y fundamental
                para proyectos Blockchain</p>
              <a href="https://www.linkedin.com/in/oscar-alvinn-serrano-tonconi-97663814a/" target="blank" class="btn btn-primary">Ver Linkedin</a>
            </div>
          </div>

          <div class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="card-img-top" src="https://plan.calimoto.eu/tourenplaner/res/images/general/profile_round.png" alt="Alan Mamani">
            <div class="card-body">
              <h5 class="card-title">Desarrollador Web - Alan Mamani Huayllani</h5>
              <p class="card-text">Desarrollador Web del sitio web Criptoanalisis.org, especialista Fontend</p>
              <a href="https://www.linkedin.com/in/alan-mamani-huayllani-456a81142/" target="blank" class="btn btn-primary">Ver Linkedin</a>
            </div>
          </div>

          <div class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="card-img-top" src="https://plan.calimoto.eu/tourenplaner/res/images/general/profile_round.png" alt="Erik Quisbert ">
            <div class="card-body">
              <h5 class="card-title">Desarrollador - Erick Quisbert</h5>
              <p class="card-text">Desarrollador Web del sitio web Criptoanalisis.org, especialista Frontend</p>
              <a href="https://www.linkedin.com/in/primo-l-acho-cachaca-086737132/" target="blank" class="btn btn-primary">Ver Linkedin</a>
            </div>
          </div>

          <div class="card col-12 col-sm-6 col-md-4 col-lg-3">
            <img class="card-img-top" src="https://plan.calimoto.eu/tourenplaner/res/images/general/profile_round.png" alt="Primo Acho Cachaca ">
            <div class="card-body">
              <h5 class="card-title">Desarrollador - Primo Acho Cachaca</h5>
              <p class="card-text">Desarrollador Web del sitio web Criptoanalisis.org, especialistad Backend</p>
              <a href="https://www.linkedin.com/in/primo-l-acho-cachaca-086737132/" target="blank" class="btn btn-primary">Ver Linkedin</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nb-card>