<nb-card>
  <nb-card-header>
    <div class="text-body">
      Lista de Señales
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12 col-md-6" *ngFor="let signal of signals">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-3 col-md-2">
                <img src="../../../assets/images/jack.png" class="img-thumbnail foto_user" alt="Responsive image">
              </div>
              <div class="col-9 col-md-4">
                <p class="font-w-light user">Juan Jose Perez Perez</p>
              </div>
              <div class="col-4 col-md-2">
                <h5>
                  <span class="badge badge-primary font-w-light user">97 P</span>
                </h5>
              </div>
              <div class="col-4 col-md-2">
                <h5>
                  <span class="badge badge-success font-w-light user">51 F</span>
                </h5>
              </div>
              <div class="col-4 col-md-2">
                <h5>
                  <span class="badge badge-info font-w-light user">ETH</span>
                </h5>
              </div>
            </div>
          </div>
          <a [routerLink]="['/pages/signals/view', signal.id]">
            <img src="https://es.tradingview.com/i/jNGFZIAD/" alt="card image" class="card-img-top d-none d-sm-block">
          </a>
          <div class="card-body">
            <a class="card-text" [routerLink]="['/pages/signals/view', signal.id]">
              {{signal.titulo}}
            </a>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-12 col-md-6">
                <p class="text-body">publicado {{signal.FechaCreate | amTimeAgo}}</p>
              </div>
              <div class="col-6 col-md-2">
                <p class="text-body">0 Com</p>
              </div>
              <div class="col-3 col-md-2">
                <span class="font-w-light up pull-right">
                  <i class="fa fa-thumbs-up up">15</i>
                </span>
              </div>
              <div class="col-3 col-md-2">
                <span class="font-w-light dowm pull-right">
                  <i class="fa fa-thumbs-down down">74</i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>