<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-6 col-md-6 d-block d-sm-none">
        <div class="dropdown" ngbDropdown>
          <button class="btn btn-primary btn-tn" type="button" ngbDropdownToggle>
            Mas recientes
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item">Icon Button 2</li>
            <li class="dropdown-item">Hero Button</li>
            <li class="dropdown-item">Default</li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-md-6 d-block d-sm-none">
        <div class="dropdown" ngbDropdown>
          <button class="btn btn-primary btn-tn" type="button" ngbDropdownToggle>
            BCH/USD
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item">Icon Button 2</li>
            <li class="dropdown-item">Hero Button</li>
            <li class="dropdown-item">Default</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="container">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                <i class="fa fa fa-user"></i> Carlos Lopez, 25P, 37 eth, 40 xrp</p>
            </div>
            <img class="card-img-top" src="../../../assets/images/kitten-cosmic.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">
                <strong class="item text-success">COMPRAR</strong> - Bitcoin / USD</h5>
              <p class="card-text d-none d-sm-block">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="row">
                <div class="col-md-6 col-sm-12 col-12">
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col-12">
                  <label>Compartir : </label>
                </div>
                <div class="col-md-1 col-sm-2 col-2 socials d-none">
                  <a href="#" class="ion ion-social-facebook"></a>
                </div>
                <div class="col-md-1 col-sm-2 col-2 socials d-none">
                  <a href="#" class="ion ion-social-twitter"></a>
                </div>
                <div class="col-md-1 col-sm-2 col-2 socials d-none">
                  <a href="#" class="ion ion-social-whatsapp"></a>
                </div>
                <div class="col-md-1 col-sm-2 col-3 socials">
                  <a href="#" class="fa fa-thumbs-up">45</a>
                </div>
                <div class="col-md-1 col-sm-2 col-3 socials">
                  <a href="#" class="fa fa-thumbs-down">74</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="container">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                <i class="fa fa fa-user"></i> Carlos Lopez, 25P, 37 eth, 40 xrp</p>
            </div>
            <img class="card-img-top" src="../../../assets/images/kitten-cosmic.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">
                <strong class="item text-success">COMPRAR</strong> - Bitcoin / USD</h5>
              <p class="card-text d-none d-sm-block">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="row">
                <div class="col-md-6 col-sm-12 col-12">
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col-12">
                  <label>Compartir : </label>
                </div>
                <div class="col-md-1 col-sm-2 col-2 socials d-none">
                  <a href="#" class="ion ion-social-facebook"></a>
                </div>
                <div class="col-md-1 col-sm-2 col-2 socials d-none">
                  <a href="#" class="ion ion-social-twitter"></a>
                </div>
                <div class="col-md-1 col-sm-2 col-2 socials d-none">
                  <a href="#" class="ion ion-social-whatsapp"></a>
                </div>
                <div class="col-md-1 col-sm-2 col-3 socials">
                  <a href="#" class="fa fa-thumbs-up">45</a>
                </div>
                <div class="col-md-1 col-sm-2 col-3 socials">
                  <a href="#" class="fa fa-thumbs-down">74</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="container">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                <i class="fa fa fa-user"></i> Carlos Lopez, 25P, 37 eth, 40 xrp</p>
            </div>
            <img class="card-img-top" src="../../../assets/images/kitten-cosmic.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">
                <strong class="item text-success">COMPRAR</strong> - Bitcoin / USD</h5>
              <p class="card-text d-none d-sm-block">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="row">
                <div class="col-md-6 col-sm-12 col-12">
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col-12">
                  <label>Compartir : </label>
                </div>
                <div class="col-md-1 col-sm-2 col-2 socials d-none">
                  <a href="#" class="ion ion-social-facebook"></a>
                </div>
                <div class="col-md-1 col-sm-2 col-2 socials d-none">
                  <a href="#" class="ion ion-social-twitter"></a>
                </div>
                <div class="col-md-1 col-sm-2 col-2 socials d-none">
                  <a href="#" class="ion ion-social-whatsapp"></a>
                </div>
                <div class="col-md-1 col-sm-2 col-3 socials">
                  <a href="#" class="fa fa-thumbs-up">45</a>
                </div>
                <div class="col-md-1 col-sm-2 col-3 socials">
                  <a href="#" class="fa fa-thumbs-down">74</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="container">
          <div class="card">
            <div class="card-body">
              <p class="card-text">
                <i class="fa fa fa-user"></i> Carlos Lopez, 25P, 37 eth, 40 xrp</p>
            </div>
            <img class="card-img-top" src="../../../assets/images/kitten-cosmic.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">
                <strong class="item text-success">COMPRAR</strong> - Bitcoin / USD</h5>
              <p class="card-text d-none d-sm-block">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <div class="row">
                <div class="col-md-6 col-sm-12 col-12">
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 col-12">
                  <label>Compartir : </label>
                </div>
                <div class="col-md-1 col-sm-2 col-2 socials d-none">
                  <a href="#" class="ion ion-social-facebook"></a>
                </div>
                <div class="col-md-1 col-sm-2 col-2 socials d-none">
                  <a href="#" class="ion ion-social-twitter"></a>
                </div>
                <div class="col-md-1 col-sm-2 col-2 socials d-none">
                  <a href="#" class="ion ion-social-whatsapp"></a>
                </div>
                <div class="col-md-1 col-sm-2 col-3 socials">
                  <a href="#" class="fa fa-thumbs-up">45</a>
                </div>
                <div class="col-md-1 col-sm-2 col-3 socials">
                  <a href="#" class="fa fa-thumbs-down">74</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>