.badge-space {
    margin-right: 65px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}


.pad-t{
    padding-top: 15px;

}
.pad-l{
    padding-left: 14px;

}
.pad-ltitulo{
    padding-left: 0px;

}
.pad-luser{
    padding-left: 100px;

}
 
.pad-bot{
    padding-bottom: 0px;
  }
  

