.badge-space {
    margin-right: 65px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.margin-top {
    margin-top: 50px;
  }
.margin-bot{
  margin-bottom: 5px;
}

.pad-t{
    padding-top: 15px;

}
.pad-l{
    padding-left: 14px;

}