<nb-card>
    <nb-card-header>
        <div class="row" *ngIf="contentUser">
            <div class="col-12 col-md-2">
                <a [routerLink]="['/user/profile/', contentUser.id]">
                    <nb-user [name]="contentUser?.username" [picture]="contentUser?.perfil"></nb-user>
                </a>
            </div>
            <div class="col-3 col-md-1">
                <h5>
                    <span class="badge badge-primary font-w-light user_data">{{contentUser.puntos}} P</span>
                </h5>
            </div>
            <div class="col-5 col-md-1">
                <h5>
                    <span class="badge badge-info font-w-light user_data">{{contentUser.fiabilidad}} F</span>
                </h5>
            </div>
            <div class="col-3 col-md-1" *ngIf="contentUser.fiabilidad > 50 else elseBlock">
                <i class="fa fa-2x fa-graduation-cap"></i>
            </div>
            <ng-template #elseBlock>
                <i class="fa fa-2x fa-male"></i>
            </ng-template>
            <!-- <ng-template #thenBlock>
                <i class="fa fa-user-graduate"></i>
            </ng-template> -->
        </div>
    </nb-card-header>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row block-level-buttons">
            <div class="col-md-12">
                <button type="button" class="btn btn-outline-primary btn-block" (click)="getNewsById($event)">Mostrar contenido</button>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        <div class="row" *ngIf="news">
            <h4 class="col-12 col-md-10 text-body">{{news.titulo}}</h4>
            <ngx-denuncia Design="col-12 col-md-2" tipCom="noticia" [userIdNews]="news.usuarioId" [newsId]="news.id" nalugar="noticias"></ngx-denuncia>
            <div class="col-6 col-md-6">
                <h4 class="subtitle">
                    <span class="badge badge-primary">{{news.tipo_moneda}}</span>
                </h4>
            </div>
            <div class="col-6 col-md-6">
                <span class="text-hint pull-right subtitle">{{news.fecha_create | amTimeAgo}}</span>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row" *ngIf="news">
            <img class="col-12 col-md-12 imagen img-fluid" src="{{news.perfilLink}}">
            <p class="col-12 col-md-12 content" [innerHTML]="news.contenido"></p>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="box" *ngIf="news">
            <div class="box3">
                <h1>Conjetura de precio : </h1>
                <p class="content" [innerHTML]="news.conj_precio"></p>
            </div>
            <div class="box3 line">
                <h1>Conjetura a otra modena : </h1>
                <p class="content" [innerHTML]="news.conj_moneda"></p>
            </div>
            <span class="delike">
                <a class="font-w-light up" (click)="sendLike()">
                    <i class="fa fa-thumbs-up"></i>{{news.likes.total}}</a>
            </span>
            <span class="delike">
                <a class="font-w-light down" (click)="sendDislike()">
                    <i class="fa fa-thumbs-down"></i>{{news.dislikes.total}}</a>
            </span>
        </div>
    </nb-card-footer>
</nb-card>
<div *ngIf="news">
    <ngx-share titleShare="{{news.titulo}}" descripShare="{{news.contenido}}" imageShare="{{news.perfilLink}}"></ngx-share>
</div>
<nb-card *ngIf="news">
    <nb-card-body>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="dropdown" ngbDropdown>
                    <button type="button" class="btn btn-hero-info btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed"
                        aria-controls="collapseExample" ngbDropdownToggle *ngIf="count">
                        {{count.count}} Comentarios
                    </button>
                    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                        <ngx-comment [coment]="commentById" (onObject)="sendAnswer($event)"></ngx-comment>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="form-group">
            <textarea class="form-control" #contenido="ngModel" name="contenido" [(ngModel)]="comment.contenido" placeholder="Escribe un Comentario"
                minlength="4" required="required"></textarea>
        </div>
        <div *ngIf="contenido.invalid && (contenido.dirty || contenido.touched)" class="alert alert-danger">
            <div *ngIf="contenido.errors.required">
                Comentario vacio <strong *ngIf="!siExUser">para poder comentar tienes que <a [routerLink]="['/auth/login']">iniciar session</a></strong>
            </div>
            <div *ngIf="contenido.errors.minlength">
                El comentario debe tener al menos 4 caracteres
                <a [routerLink]="['/auth/login']" *ngIf="!siExUser"> y para poder comentar tienes que<strong> iniciar session</strong></a>
            </div>
        </div>
        <button type="submit" [disabled]="submitted || !contenido.valid || contenido.required" [class.btn-pulse]="submitted" class="btn btn-success pull-right btn-sm"
            (click)="sendComment()">Comentar</button>
    </nb-card-footer>
</nb-card>
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Mas Noticias
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">
                            <a href="">Icon Button 4</a>
                        </li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Señales
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Tutoriales
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Dropdown
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
        </div>
    </nb-card-header>
</nb-card>