<nb-card>
    <nb-card-header>
        <div class="row" *ngIf="contentUser">
            <div class="col-12 col-md-2">
                <a [routerLink]="['/user/profile', contentUser.id]">
                  <nb-user [menu]="" [name]="contentUser?.username" [picture]="contentUser?.perfil"></nb-user>
                </a>
            </div>
            <div class="col-4 col-md-1">
                <h5>
                    <span class="badge badge-primary font-w-light user_data">{{contentUser.puntos}} P</span>
                </h5>
            </div>
            <div class="col-4 col-md-1" *ngFor="let famaUser of contentUser.fama.firsttwo">
                <h5>
                    <span class="badge badge-info font-w-light user_data">{{famaUser.valor}} {{famaUser.symbol}}</span>
                </h5>
            </div>
            <div class="d-none d-sm-block dropdown drop" ngbDropdown>
                <button type="button" class="btn btn-info btn-tn" ngbDropdownToggle>ver mas fama</button>
                <ul class="dropdown-menu scrollable-menu" ngbDropdownMenu>
                    <li class="dropdown-item" *ngFor="let famaUser of contentUser.fama.last">{{famaUser.valor}} {{famaUser.symbol}}</li>
                </ul>
            </div>
        </div>
    </nb-card-header>
</nb-card>
<nb-card>
    <nb-card-header>
        <div class="row" *ngIf="news">
            <div class="col-12 col-md-10">
                <h5 [innerHTML]="news.titulo"></h5>
            </div>
            <div class="col-12 col-md-2">
                <h3>
                    <span class="badge badge-secondary">{{news.tipo_moneda}}</span>
                </h3>
            </div>
            <div class="col-12 col-md-12">
                <span class="text-hint date">{{news.fecha_create | amTimeAgo}}</span>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row" *ngIf="news">
            <div class="col-12 col-md-12">
                <span class="text-body" [innerHTML]="news.contenido"></span>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="row" *ngIf="news">
            <div class="col-md-6">
                <h5>Fuente : </h5>
                <span>{{news.fuentes}}</span>
            </div>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row" *ngIf="news">
            <div class="col-12 col-md-6">
                <h4>Conjetura de precio :</h4>
                <span [innerHTML]="news.conj_moneda"></span>
            </div>
            <div class="col-12 col-md-6">
                <h4>Conjetura a otra Moneda :</h4>
                <span [innerHTML]="news.conj_precio"></span>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row" *ngIf="news">
            <div class="col-md-2 col-sm-12 col-12">
                <h5>Compartir : </h5>
            </div>
            <div class="col-md-1 col-sm-2 col-2">
                <button shareButton="facebook" md-raised-button showCount="true" class="fa fa-facebook" title="title" description="description"
                    image="image"></button>
            </div>
            <div class="col-md-1 col-sm-2 col-2">
                <button shareButton="twitter" sbDescription="description" md-raised-button class="fa fa-twitter"></button>
            </div>
            <div class="col-md-4 col-sm-2 col-2">
                <button shareButton="facebook" sbDescription="description" md-raised-button class="fa fa-google"></button>
            </div>
            <div class="col-md-2 col-sm-2 col-3 socials">
                <a class="font-w-light up pull-right" (click)="sendLike()">
                    <i class="fa fa-thumbs-up"></i>{{news.likes.total}}</a>
            </div>
            <div class="col-md-2 col-sm-2 col-3 socials">
                <a class="font-w-light down pull-right" (click)="sendDislike()">
                    <i class="fa fa-thumbs-down"></i>{{news.dislikes.total}}</a>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row" *ngIf="news">
            <div class="col-12 col-md-12">
                <div class="dropdown" ngbDropdown>
                    <button type="button" class="btn btn-hero-info btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed"
                        aria-controls="collapseExample" ngbDropdownToggle *ngIf="count">
                        {{count.count}} Comentarios
                    </button>
                    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                        <div class="card" *ngFor="let comment of commentById; let i = index">
                            <div class="row" class="card-body">
                                <div *ngIf="comment">
                                    <div class="">
                                        <h5 class="text-heading">Comentario</h5>
                                    </div>
                                    <ng-template #popContentComment>
                                        <div *ngIf="comment.user" class="pop_style">
                                            <div class="media">
                                                <img *ngIf="comment.user.perfil" class="mr-3 image_pop" src="{{comment.user.perfil}}" width="110" height="120">
                                                <div *ngIf="!comment.user.perfil" class="user-picture background" [style.background-color]="color">
                                                    <ng-container>
                                                        <img class="image_pop" src="../../../../assets/images/image.png" alt="">
                                                    </ng-container>
                                                </div>
                                                <div class="media-body">
                                                    <a [routerLink]="['/user/profile', comment.user.id]">
                                                        <h5 class="mt-0 text-center">{{comment.user.username}}</h5>
                                                    </a>
                                                    <div class="text-center">
                                                        <h6>
                                                            <span class="badge badge-primary font-w-light">{{comment.user.precision}} P</span>
                                                            <span class="badge badge-info font-w-light" *ngFor="let famaUser of comment.user.fama.firsttwo">{{famaUser.valor}} {{famaUser.symbol}}</span>
                                                        </h6>
                                                    </div>
                                                    <div [(ngModel)]="dividedButtonGroupOne" ngbRadioGroup class="btn-group btn-divided-group btn-outline-divided-group btn-group-full-width col-md-12 bton-seguir">
                                                        <label ngbButtonLabel class="btn btn-outline-primary btn-tn">
                                                            <input ngbButton type="radio" value="left"> Mensaje
                                                        </label>
                                                        <label ngbButtonLabel class="btn btn-outline-success btn-tn">
                                                            <input ngbButton type="radio" value="middle" (click)="follow(comment.user.id)"> Seguir
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <div class="media">
                                        <div *ngIf="comment.user" class="content_image">
                                            <a placement="right" [ngbPopover]="popContentComment" triggers="mouseover">
                                                <img *ngIf="comment.user.perfil" class="image_user rounded-circle" src="{{comment.user.perfil}}">
                                                <div *ngIf="!comment.user.perfil" class="user-picture background design_user" [style.background-color]="color">
                                                    <ng-container> {{ getInitials(comment.user.username) }} </ng-container>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="mt-0" *ngIf="comment.user">{{comment.user.username}}
                                                <span class="badge badge-primary">{{comment.user.precision}} P</span>
                                                <span class="badge badge-info font-w-light" *ngFor="let famaUser of comment.user.fama.firsttwo">{{famaUser.valor}} {{famaUser.symbol}}</span>
                                            </h5>
                                            <span class="col-10 col-md-11">{{comment.contenido}}</span>
                                            <p class="text-hint">{{comment.fecha_registro | amTimeAgo}}</p>
                                            <h5>Respuesta</h5>
                                            <div *ngFor="let answer of comment.res">
                                                <div>
                                                    <div class="media mt-3">
                                                        <a class="pr-3 content_image" placement="right" [ngbPopover]="popContentAnswer" triggers="mouseover"  *ngIf="answer.user">
                                                            <img *ngIf="answer.user.perfil" src="{{answer.user.perfil}}" class="image_useranswer rounded-circle">
                                                            <div *ngIf="!answer.user.perfil" class="user-picture background design_user" [style.background-color]="color">
                                                                <ng-container> {{ getInitials(answer.user.username) }} </ng-container>
                                                            </div>
                                                        </a>
                                                        <div class="media-body">
                                                            <h5 class="mt-0" *ngIf="answer.user">{{answer.user.username}}
                                                                <span class="badge badge-primary">{{answer.user.precision}} P</span>
                                                                <span class="badge badge-info font-w-light" *ngFor="let famaUser of answer.user.fama.firsttwo">{{famaUser.valor}} {{famaUser.symbol}}</span>
                                                            </h5>
                                                            <div class="col-10 col-md-10">
                                                                <span>{{answer.contenido}}</span>
                                                            </div>
                                                            <p class="text-hint">{{answer.fecha_registro | amTimeAgo}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ng-template #popContentAnswer>
                                                    <div class="pop_style" *ngIf="answer.user">
                                                        <div class="media">
                                                            <img *ngIf="answer.user.perfil" class="mr-3 image_pop" src="{{answer.user.perfil}}" width="110" height="120">
                                                            <div *ngIf="!answer.user.perfil" class="user-picture background" [style.background-color]="color">
                                                                <ng-container>
                                                                    <img class="image_pop" src="../../../../assets/images/image.png" alt=""> </ng-container>
                                                            </div>
                                                            <div class="media-body">
                                                                <h5 class="mt-0 text-center">{{answer.user.username}}</h5>
                                                                <div class="text-center">
                                                                    <h6>
                                                                        <span class="badge badge-primary">{{answer.user.precision}} P</span>
                                                                        <span class="badge badge-info font-w-light" *ngFor="let famaUser of answer.user.fama.firsttwo">{{famaUser.valor}} {{famaUser.symbol}}</span>
                                                                    </h6>
                                                                </div>
                                                                <div [(ngModel)]="dividedButtonGroupOne" ngbRadioGroup class="btn-group btn-divided-group btn-outline-divided-group btn-group-full-width col-md-12 bton-seguir">
                                                                    <label ngbButtonLabel class="btn btn-outline-primary btn-tn">
                                                                        <input ngbButton type="radio" value="left"> Mensaje
                                                                    </label>
                                                                    <label ngbButtonLabel class="btn btn-outline-success btn-tn">
                                                                        <input ngbButton type="radio" value="middle"> Seguir
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="form-group">
                                    <textarea class="form-control" id="{{comment.id}}" name="{{i}}" placeholder="Escribe una Respuesta" required="required" cols="1" rows="1"></textarea>                                
                                </div>
                                <button type="submit" class="btn btn-primary btn-tn" (click)="sendAnswer($event)">Responder</button>
                            </div>
                        </div>
                    </div>
                    <nb-card>
                        <nb-card-body>
                            <div class="form-group">
                                <textarea class="form-control" #contenido="ngModel" name="contenido" placeholder="Escribe un Comentario" [(ngModel)]="comment.contenido"
                                    minlength="4"></textarea>
                                <br>
                                <div *ngIf="contenido.invalid && (contenido.dirty || contenido.touched)" class="alert alert-danger">
                                    <span *ngIf="contenido.errors.required">
                                        El comentario no puede estar vacio.
                                    </span>
                                    <span *ngIf="contenido.errors.minlength">
                                        El comentario debe tener al menos 4 caracteres.
                                    </span>
                                </div>
                            </div>
                            <button type="submit" [disabled]="submitted || !contenido.valid" [class.btn-pulse]="submitted" class="btn btn-success pull-right btn-sm"
                                (click)="sendComent()">Publicar</button>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Mas Noticias
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">
                            <a href="">Icon Button 4</a>
                        </li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Señales
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Tutoriales
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                        Dropdown
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 4</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </div>
        </div>
    </nb-card-header>
</nb-card>