a{
  cursor: pointer !important;
}
.fa {
  padding: 4px;
  font-size: 24px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: -4px 1px;
  border-radius: 18px;
  &:hover{
    opacity: 0.7;
  }
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.date{
  line-height: 1.8em;  
}
.foto_user{
  border-radius: 3.25rem;
  width: 4%;
}
.popover_user{
  border-radius: 1.25rem;
  width: 55%;
}

.user_data {
  margin-top: 9px;
}

.content_image{
  width: 5%; 
  height: 15%;
}

.image_user {
  width: 85%;
}

.image_useranswer{
  width: 100%;
}

.drop{
  left: 1px !important;
  left: 15px !important;
  top: 8px;
  padding: 0px;
}
.bton-seguir{
  padding-top: 10px;
}

.scrollable-menu {
  height: auto;
  max-height: 150px;
  overflow-x: hidden;
}

.answer-input {
  border-radius: 20px !important;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    height: 250px;
}

.res {
    margin-left: 60px;
}