.box { 
    background: white; 
    display:block; 
}

.line { 
    border-left:1px solid lightgray; 
}

.box3 { 
    margin:0 auto; 
    width: 49%; 
    min-width: 250px; 
    display: inline-block; 
    padding: .5% 2.5%; 
    padding-bottom: 50px;
}

.box3 h1{ 
    font-weight:normal; 
    font-size:15pt; 
    margin:0 auto;  
    color:#5385c1; 
}


hr.line { 
    background-color:#dbdbdb; 
    width:80%; 
    margin:0 auto; 
}

.content {
    color: #9a9a9a;
    font-size: 11pt;
    padding-top: 15px;
}

.delike {
    color: dimgray;
    padding: 21px;
    font-size: 20px;
    cursor: pointer;
    &:hover{
        color: #8b9dc3;
    }
}

.userData {
    margin-top: 8px;
}

.subtitle {
    margin-top: 10px
}

.user_data {
    margin-top: 7px;
}

.imagen{
    width: 100% !important;
    height: 85% !important;
}