.socials {
    font-size: 1.2rem;
    a {
      padding: 0.4rem;
      color: #a4abb3;
      transition: color ease-out 0.1s;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: steelblue !important;
      }
    }
  }
.whatsapp{
  span{
    font-size: 0.8rem;
    &:hover{
      color: #25d366;
    }
  }
}
.twitter{
  span{
    font-size: 0.8rem;
    &:hover{
      color: #00acee;
    }
  }
}
.facebook{
  font-size: 0.8rem;
  span{
    &:hover{
      color: #3b5998;
    }
  }
}
.date{
  line-height: 1.8em;  
}
.foto_user{
  border-radius: 3.25rem;;
}
.user{
  margin-top: 12px;
}