<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-3 col-md-1">
                <img src="../../../assets/images/jack.png" class="img-thumbnail foto_user" alt="Responsive image">
            </div>
            <div class="col-9 col-md-3">
                <p class="font-w-light user">Juan Jose Perez Perez</p>
            </div>
            <div class="col-4 col-md-1">
                <h4>
                    <span class="badge badge-primary font-w-light user">97 P</span>
                </h4>
            </div>
            <div class="col-4 col-md-6">
                <h4>
                    <span class="badge badge-success font-w-light user">51 P</span>
                </h4>
            </div>
            <div class="col-4 col-md-1">
                <h3>
                    <span class="badge badge-info font-w-light user">ETH</span>
                </h3>
            </div>
        </div>
    </nb-card-header>
</nb-card>
<nb-card>
    <nb-card-header>
        <div class="row" *ngIf="news">
            <div class="col-12 col-md-10">
                <h4 [innerHTML]="news.titulo"></h4>
            </div>
            <div class="col-6 col-md-2">
                <h1>
                    <span class="badge badge-secondary">{{news.tipo_moneda}}</span>
                </h1>
            </div>
            <div class="col-6 col-md-12">
                <span class=" text-primary date">{{news.fecha_create | amTimeAgo}}</span>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row" *ngIf="news">
            <div class="col-12 col-md-12 text-body" [innerHTML]="news.contenido"></div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="row" *ngIf="news">
            <p class="col-md-6">Fuente : {{news.fuentes}}</p>
        </div>
    </nb-card-footer>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row" *ngIf="news">
            <div class="col-12 col-md-6">
                <h2>Conjetura de precio :</h2>
                <span [innerHTML]="news.conj_moneda"></span>
            </div>
            <div class="col-12 col-md-6">
                <h2>Confetura a otra Moneda :</h2>
                <span [innerHTML]="news.conj_precio"></span>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row" *ngIf="news">
            <div class="col-md-2 col-sm-12 col-12">
                <h5>Compartir : </h5>
            </div>
            <div class="col-md-1 col-sm-2 col-2 facebook">
                <span class="font-w-light up">
                    <i class="fa fa-facebook-f fa-2x"></i>
                </span>
            </div>
            <div class="col-md-1 col-sm-2 col-2 twitter">
                <span class="font-w-light up">
                    <i class="fa fa-twitter fa-2x"></i>
                </span>
            </div>
            <div class="col-md-6 col-sm-2 col-2 whatsapp">
                <span class="font-w-light up">
                    <i class="fa fa-whatsapp fa-2x"></i>
                </span>
            </div>
            <div class="col-md-1 col-sm-2 col-3 socials">
                <a class="font-w-light up" (click)="sendLike()">
                    <i class="fa fa-thumbs-up"></i>{{news.likes.total}}</a>
            </div>
            <div class="col-md-1 col-sm-2 col-3 socials">
                <a class="font-w-light down" (click)="sendDislike()">
                    <i class="fa fa-thumbs-down"></i>{{news.dislikes.total}}</a>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row" *ngIf="news">
            <div class="col-12">
                <div class="dropdown" ngbDropdown>
                    <button type="button" class="btn btn-hero-info btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseExample" ngbDropdownToggle>
                        {{news.comments.total}} Comentarios
                    </button>
                    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                        <div class="card" *ngFor="let comment of news.comments.users_comments">
                            <div class="card-body">
                                {{comment}}
                            </div>
                            <div class="card-footer" *ngIf="answer">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Escribe una respuesta" />
                                </div>
                                <button type="submit" class="btn btn-primary btn-tn">Publicar</button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-tn pull-right" (click)="answer = !answer">Responser</button>
                            </div>
                        </div>
                    </div>
                    <nb-card>
                        <nb-card-body>
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Escribe un Comentario"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success pull-right btn-sm">Publicar</button>
                            </form>
                            <span class="btn-outline-primary btn-sm">Comentarios</span>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-header>
            <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="dropdown" ngbDropdown>
                            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                                Señales
                            </button>
                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li class="dropdown-item">Icon Button 4</li>
                                <li class="dropdown-item">Hero Button</li>
                                <li class="dropdown-item">Default</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="dropdown" ngbDropdown>
                            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                                Señales
                            </button>
                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li class="dropdown-item">Icon Button 4</li>
                                <li class="dropdown-item">Hero Button</li>
                                <li class="dropdown-item">Default</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="dropdown" ngbDropdown>
                            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                                Tutoriales
                            </button>
                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li class="dropdown-item">Icon Button 4</li>
                                <li class="dropdown-item">Hero Button</li>
                                <li class="dropdown-item">Default</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="dropdown" ngbDropdown>
                            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                                Dropdown
                            </button>
                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li class="dropdown-item">Icon Button 4</li>
                                <li class="dropdown-item">Hero Button</li>
                                <li class="dropdown-item">Default</li>
                            </ul>
                        </div>
                    </div>
                </div>
    </nb-card-header>
</nb-card>