<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-6 col-sm-2">
        <span class="fa fa-user"></span>
      </div>
      <div class="col-6 col-sm-4">
        <span class="font-w-light">Juan Jose Perez</span>
      </div>
      <div class="col-4 col-sm-3">
        <span class="font-w-light">715 P</span>
      </div>
      <div class="col-4 col-sm-2">
        <span class="font-w-light">25 f</span>
      </div>
      <div class="col-4 col-sm-1">
        <span class="font-w-light">ETH</span>
      </div>
    </div>
  </nb-card-header>
</nb-card>
<nb-card>
  <nb-card-header>
    <div class="row">
        <h4 class="col-12 col-lg-12 text-primary">{{news.titulo}}</h4>
        <span class="col-12 col-lg-12 text-primary">{{news.fecha_creacion}}</span>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12 text-body">
          {{news.contenido}}
      </div>
        <p class="col-md-6">Fuente : {{news.fuentes}}</p>
        <p class="col-md-6">Tipo de Modena {{news.moneda}}</p>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <div class="row">  
      <p class="col-md-6 col-12">Conjetura de otra Modena : {{news.conjeturaOtraMoneda}}</p>
      <p class="col-md-6 col-12">Confetura de precio : {{news.confeturaPrecio}}</p>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-md-3 col-sm-12 col-12">
        <label>Compartir : </label>
      </div>
      <div class="col-md-1 col-sm-2 col-2 socials">
        <a href="#" class="ion ion-social-facebook"></a>
      </div>
      <div class="col-md-1 col-sm-2 col-2 socials">
          <a href="#" class="ion ion-social-twitter"></a>
      </div>
      <div class="col-md-1 col-sm-2 col-2 socials">
          <a href="#" class="ion ion-social-whatsapp"></a>
      </div>
      <div class="col-md-2 col-sm-2 col-3 socials">
          <a href="#" class="fa fa-thumbs-up">45</a>
      </div>
      <div class="col-md-2 col-sm-2 col-3 socials">
          <a href="#" class="fa fa-thumbs-down">74</a>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-12">
          <div class="dropdown" ngbDropdown>
              <button class="btn btn-hero-info btn-block" type="button" ngbDropdownToggle>
                  451 Comentarios
              </button>
              <nb-card>
               <nb-card-body>
                    <form>
                      <div class="form-group">
                        <textarea class="form-control" placeholder="Escribe un Comentario"></textarea>
                      </div>
                      <button type="submit" class="btn btn-success">Publicar</button>
                    </form>
                        <span class="btn-outline-primary">Comentarios</span>
                  </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
  </nb-card-body>
</nb-card>
    <div class="row">
      <div class="col-xl-6 col-md-6 col-12">
        <div class="dropdown" ngbDropdown>
          <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
            Señales
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item">Icon Button 4</li>
            <li class="dropdown-item">Hero Button</li>
            <li class="dropdown-item">Default</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12">
        <div class="dropdown" ngbDropdown>
          <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
            Señales
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item">Icon Button 4</li>
            <li class="dropdown-item">Hero Button</li>
            <li class="dropdown-item">Default</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12">
        <div class="dropdown" ngbDropdown>
          <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
            Tutoriales
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item">Icon Button 4</li>
            <li class="dropdown-item">Hero Button</li>
            <li class="dropdown-item">Default</li>
          </ul>
        </div>
      </div>
      <div class="col-xl-6 col-md-6 col-12">
        <div class="dropdown" ngbDropdown>
          <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
            Dropdown
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item">Icon Button 4</li>
            <li class="dropdown-item">Hero Button</li>
            <li class="dropdown-item">Default</li>
          </ul>
        </div>
      </div>
    </div>