<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-6 col-sm-2">
                <span class="fa fa-user"></span>
            </div>
            <div class="col-6 col-sm-4">
                <span class="font-w-light">Juan Jose Perez</span>
            </div>
            <div class="col-4 col-sm-3">
                <span class="font-w-light">96 P</span>
            </div>
            <div class="col-4 col-sm-2">
                <span class="font-w-light">25 f</span>
            </div>
            <div class="col-4 col-sm-1">
                <span class="font-w-light">ETH</span>
            </div>
        </div>
    </nb-card-header>
</nb-card>
<nb-card>
    <nb-card-header>
        <div class="row" *ngIf="new">
            <h4 class="col-12 col-lg-12 text-primary">{{new.titulo}}</h4>
            <span class="col-12 col-lg-12 text-primary">{{new.fecha_create}}</span>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row" *ngIf="new">
            <div class="col-md-12 text-body">
                {{new.contenido}}
            </div>
            <p class="col-md-6">Fuente : {{new.fuentes}}</p>
            <p class="col-md-6">Tipo de Modena : {{new.tipo_moneda}}</p>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row" *ngIf="new">
            <p class="col-md-6 col-12">Conjetura de moneda : {{new.conj_moneda}}</p>
            <p class="col-md-6 col-12">Confetura de precio : {{new.conj_precio}}</p>
        </div>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-card-body>
        <div class="row" *ngIf="new">
            <div class="col-md-5 col-sm-12 col-12">
                <h5>Compartir : </h5>
            </div>
            <div class="col-md-1 col-sm-2 col-2 facebook">
                <span class="font-w-light up">
                    <i class="fa fa-facebook-f fa-2x"></i>
                </span>
            </div>
            <div class="col-md-1 col-sm-2 col-2 twitter">
                <span class="font-w-light up">
                    <i class="fa fa-twitter fa-2x"></i>
                </span>
            </div>
            <div class="col-md-2 col-sm-2 col-2 whatsapp">
                <span class="font-w-light up">
                    <i class="fa fa-whatsapp fa-2x"></i>
                </span>
            </div>
            <div class="col-md-2 col-sm-2 col-3 socials">
                <span class="font-w-light up" >
                    <i class="fa fa-thumbs-up"></i>{{new.likes.total}}</span>
            </div>
            <div class="col-md-1 col-sm-2 col-2 socials">
                <span class="font-w-light down">
                    <i class="fa fa-thumbs-down"></i>{{new.dislikes.total}}</span>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-body>
        <div class="row" *ngIf="new">
            <div class="col-12">
                <div class="dropdown" ngbDropdown>
                    <button type="button" class="btn btn-hero-info btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                        aria-controls="collapseExample" ngbDropdownToggle>
                        {{new.comments.total}} Comentarios
                    </button>
                    <div id="collapseExample" [ngbCollapse]="!isCollapsed">
                        <div class="card" *ngFor="let comment of new.comments.users_comments">
                            <div class="card-body">
                                {{comment}}
                            </div>
                            <a href="#" class="pull-right">Responser</a>
                        </div>
                    </div>
                    <nb-card>
                        <nb-card-body>
                            <form>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Escribe un Comentario"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success pull-right btn-sm">Publicar</button>
                            </form>
                            <span class="btn-outline-primary btn-sm">Comentarios</span>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                Señales
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item">Icon Button 4</li>
                <li class="dropdown-item">Hero Button</li>
                <li class="dropdown-item">Default</li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                Señales
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item">Icon Button 4</li>
                <li class="dropdown-item">Hero Button</li>
                <li class="dropdown-item">Default</li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                Tutoriales
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item">Icon Button 4</li>
                <li class="dropdown-item">Hero Button</li>
                <li class="dropdown-item">Default</li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="dropdown" ngbDropdown>
            <button class="btn btn-outline-primary" type="button" ngbDropdownToggle>
                Dropdown
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item">Icon Button 4</li>
                <li class="dropdown-item">Hero Button</li>
                <li class="dropdown-item">Default</li>
            </ul>
        </div>
    </div>
</div>