.socials {
    font-size: 1.2rem;
    span {
      padding: 0.4rem;
      color: #a4abb3;
      transition: color ease-out 0.1s;
      text-decoration: none;

      &:hover {
        color: royalblue;
      }
    }
  }
.whatsapp{
  span{
    &:hover{
      color: #25d366;
    }
  }
}
.twitter{
  span{
    &:hover{
      color: #00acee;
    }
  }
}
.facebook{
  span{
    &:hover{
      color: #3b5998;
    }
  }
}