<!-- <div class="container d-block d-sm-none">
    <div class="row">
        <div class="col-7">
            <nb-card>
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-primary btn-tn" type="button" ngbDropdownToggle>
                        mas recientes
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 2</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </nb-card>
        </div>
        <div class="col-5">
            <nb-card>
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-primary btn-tn" type="button" ngbDropdownToggle>
                        btn mon
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon</li>
                        <li class="dropdown-item">Hero</li>
                        <li class="dropdown-item">Defau</li>
                    </ul>
                </div>
            </nb-card>
        </div>
    </div>
</div> -->
<div class="row mb-5">
    <div class="{{design}}" *ngFor="let signal of listSignal">
        <nb-card>
            <div class="card card-inverse card-info">
                <a (click)="routerLink('/pages/signals/view', signal.id)">
                    <img class="card-img-top d-none d-sm-block" src="{{signal.perfilLink}}">
                    <div class="card-block" *ngFor="let content of signal.contentUser">
                        <div class="row">
                            <nb-user class="col-6 col-md-7" [menu]="" [name]="content?.username" [picture]="content?.perfil"></nb-user>
                            <h5 class="col-3 col-md-3">
                                <span class="badge badge-secondary user">{{content.puntos}} P</span>
                            </h5>
                            <h5 class="col-3 col-md-2">
                                <span class="badge badge-secondary user">{{content.fidelidad}} F</span>
                            </h5>
                        </div>
                        <div class="card-text-5 row" *ngFor="let content of signal.contentUser">
                            <div class="col-5 col-md-5 pago">
                                <span class="text-hint" *ngIf="content.precision.valor > pagado else free">
                                    De pago
                                </span>
                            </div>
                            <ng-template #free>
                                <span class="text-hint">
                                    Gratis
                                </span>
                            </ng-template>
                            <div class="col-6 col-md-6">
                                <span class="text-hint pull-right">
                                    {{signal.moneda1}} / {{signal.moneda2}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <small class="col-6 col-md-6 sp_size text-hint">{{signal.FechaCreate | amTimeAgo:true}}</small>
                            <span class="col-2 col-md-2" *ngFor="let count of signal.count">
                                <i class="fa fa-comment-o">{{count.count}}</i>
                            </span>
                            <span class="col-2 col-md-2">
                                <i class="fa fa-thumbs-up up">{{signal.likes.total}}</i>
                            </span>
                            <span class="col-2 col-md-2">
                                <i class="fa fa-thumbs-down down">{{signal.dislikes.total}}</i>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </nb-card>
    </div>
</div>