 <div class="header-container left">
    <div class="container-btn d-block d-sm-block d-md-none">
        <a class="btn btn-secondary btn-tn">
            <i class="nb-edit"></i>
        </a>
    </div>
    <div class="container-btn d-block d-sm-block d-md-none">
        <a class="btn btn-secondary btn-tn">
            <i class="nb-lightbulb"></i>
        </a>
    </div>

    <div class="container-btn d-block d-sm-block d-md-none">
        <a class="btn btn-secondary btn-tn">
            <i class="nb-compose"></i>
        </a>
    </div>
    <div class="container-btn d-block d-sm-block d-md-none">
        <a class="btn btn-secondary btn-tn">
            <i class="nb-plus-circled"></i>
        </a>
    </div>
    <div class="container-btn d-block d-sm-block d-md-none">
        <a class="btn btn-secondary btn-tn">
            <i class="nb-rainy"></i>
        </a>
    </div>
    <!--
    <ul class="nav left">
        <li class="nav-item">
            <a class="nav-link d-none d-sm-none d-md-block" (click)="routerLink('/pages/publish')">
                <span>PUBLICAR</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-none d-sm-none d-md-block" (click)="routerLink('/pages/signals/signals-list')">
                <span>SEÑALES</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-none d-sm-none d-md-block" (click)="routerLink('/pages/news/news-list')">
                <span>NOTICIAS</span>
            </a>
        </li>
        <div class="dropdown ghost-dropdown dropheader" ngbDropdown>
            <button class="btn btn-primary d-none d-sm-none d-md-block" type="button" ngbDropdownToggle style="border: 0px;cursor: pointer;">
                Mercado
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu style="width: 150%;">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar">
                </div>
                <div class="dropdown-divider"></div>
                <li class="dropdown-submenu dropdown-item" *ngFor="let market of markets">
                    <a class="dropdown ghost-dropdown" ngbDropdown>{{market.nombre}}</a>
                    <ul class="dropdown-menu submenu" style="width: 150%">
                        <li class="dropdown-item">
                            <a>Action</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Action</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#">Action</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <li class="nav-item">
            <a class="nav-link d-none d-sm-none d-md-block" (click)="routerLink('/pages/chat')">
                <span>CHAT</span>
            </a>
        </li>
    </ul>
</div>
<nb-actions size="medium" class="header-container right">
    <nb-action>
        <div class="">
            <a href="#" class="ion ion-social-youtube"></a>
        </div>
    </nb-action>
    <nb-action>
        <div class="">
            <a href="#" class="ion ion-social-twitter"></a>
        </div>
    </nb-action>
    <nb-action>
        <div class="">
            <a href="#" class="ion ion-social-facebook"></a>
        </div>
    </nb-action>
    <nb-action>
        <h6 class="text-hint">Siguenos : </h6>
    </nb-action>
</nb-actions> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light left">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div class="container-btn">
                    <a class="btn btn-secondary btn-demo">PUBLICAR</a>
                </div>
            </li>
            <li class="nav-item active">
                <div class="container-btn">
                    <a class="btn btn-secondary btn-demo">SEÑALES</a>
                </div>
            </li>
            <li class="nav-item active">
                <div class="container-btn">
                    <a class="btn btn-secondary btn-demo">NOTICIAS</a>
                </div>
            </li>
            <li class="nav-item active">
                <div class="dropdown" ngbDropdown>
                    <button class="btn btn-outline-secondary" type="button" ngbDropdownToggle>
                        mercados
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li class="dropdown-item">Icon Button 2</li>
                        <li class="dropdown-item">Hero Button</li>
                        <li class="dropdown-item">Default</li>
                    </ul>
                </div>
            </li>
            <!-- <div class="dropdown ghost-dropdown dropheader" ngbDropdown>
                    <button class="btn btn-primary d-none d-sm-none d-md-block" type="button" ngbDropdownToggle>
                        Mercado
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Buscar">
                        </div>
                        <div class="dropdown-divider"></div>
                        <li class="dropdown-submenu dropdown-item">
                            <a class="dropdown ghost-dropdown" ngbDropdown>mercado</a>
                            <ul class="dropdown-menu submenu">
                                <li class="dropdown-item">
                                    <a>Action</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="#">Action</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="#">Action</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div> -->
            <li class="nav-item active">
                <div class="container-btn">
                    <a class="btn btn-secondary btn-demo">CHAT</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<nb-actions size="medium" class="header-container right">
    <nb-action>
        <div class="">
            <a href="#" class="ion ion-social-youtube"></a>
        </div>
    </nb-action>
    <nb-action>
        <div class="">
            <a href="#" class="ion ion-social-twitter"></a>
        </div>
    </nb-action>
    <nb-action>
        <div class="">
            <a href="#" class="ion ion-social-facebook"></a>
        </div>
    </nb-action>
    <nb-action>
        <h6 class="text-hint">Siguenos : </h6>
    </nb-action>
</nb-actions>