<div class="header-container left">
    <div class="header-container">
        <ul class="nav">
            <nb-action>
                    <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                          </li>              
            </nb-action>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul> 
    </div>
</div>

<nb-actions size="medium" class="header-container right">
    <nb-action class="control-item" icon="nb-notifications"></nb-action>
    <nb-action class="control-item" icon="nb-email"></nb-action>
    <nb-action>
        <span class="badge badge-default">2 $CA</span>
    </nb-action>
    <nb-action>
        <span class="badge badge-default">17 F</span>
    </nb-action>
    <nb-action>
        <span class="badge badge-default">25 P</span>
    </nb-action>
</nb-actions>